@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

@charset "utf-8";

/* Skip Navigation */
	.skip{width:1px; height:1px; margin:0 -1px -1px 0; padding:0; font-size:0; line-height:0; display:block; overflow:hidden;}
	.skip:hover,.skip:active,.skip:focus{width:100%; height:auto; margin:0; padding:5px 0; font-weight:bold; font-size:12px; line-height:1; color:#333; text-decoration:none !important; text-indent:10px}

/*[s] All Style */
	a:link, a:visited{text-decoration:none}
	a:hover{text-decoration:none}

	html{overflow-y:auto;overflow-x:hidden;}
	html,body{overflow-x:hidden;}
	body,th,td,input,select,textarea{font-style:normal; font-weight:normal; font-size:13px; line-height:18px; font-family: 'Noto Sans KR'; color:#444}


	/* 텍스트 테스트 */
	#sua,
	#header,
	#snb,
	.certificationList,
	.tabs,
	.tabsLocation,
	.product,
	.loginArea,
	.main #visual,
	.main #mCont,
	.sitemap{font-size:0; line-height:0;}

	.clear{clear:both;}
	.bul_3x2 {padding:5px 0 5px 5px; font-size:11px; line-height:20px; color:#333; word-break:keep-all; word-wrap:break-word;}
	h3.bul{padding-left:15px; background:url('../../images/common/dot.gif') no-repeat 0px 5px; font-size:18px; line-height:100%;font-weight:bold;color:#333;letter-spacing:-0.5px;}

	.bold{color:#666;font-size:18px;font-weight:500;line-height:110%;word-break:keep-all; word-wrap:break-word;}
	.sbl_txt{color:#2fadd6;font-size:20px;font-weight:500;line-height:130%;word-break:keep-all; word-wrap:break-word;}

	#section .nTxt2{color:#666;font-size:16px;letter-spacing:-0.5px;line-height:25px;word-break:keep-all; word-wrap:break-word;}
	#section .nTxt{font-weight:300;}
	#section .nTxt:after{clear:both;display:block;content:'';}
	.nTxt_b{color:#174196;font-size:14px;letter-spacing:-0.5px;line-height:140%;}
	.a_r{text-align:right;}
	.f_l{float:left;}
	.f_r{float:right;}
	.blue{color:#2fadd6;}
	.in_b{display:inline-block;}
	#section .nTxt2 .txt_r2{float:right;font-size:14px;padding-left:10px;font-weight:300;}
	.txt_star{font-size:14px;padding-left:10px; background:url('../../images/tech/dots.gif') no-repeat 0px 8px;font-size:16px;color:#666;line-height:110%;font-weight:300;}
	#section .tec_tb .bd_r{border-right:1px solid #ccc;}
	#section .tec_tb .bd_l{border-left:1px solid #ccc;}
	#section .tec_tb2 .bd_r{border-right:1px solid #ccc;}
	#section .tec_tb2 .bd_l{border-left:1px solid #ccc;}

	.ol_list ol{padding-left:15px;}



/*[e] All Style */


/*
!important
position:relative; z-index:1;
position:absolute; left:0px; top:0px; z-index:99;
text-indent:-99999px;
#004a8f
*/