<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>타이포랩</title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style type="text/css">
	</style>
</head> 
<body>
<div style="width:700px;">
	<h2 class="title"><span style="font-size:14px;color:#222;font-weight:bold;display:block; padding-left:10px; background:url(http://typolab.co.kr/common/typoadmin/images/blet.gif) 0 8px no-repeat;">프로젝트 의뢰</span></h2>
	<div class="table">
		<table style="width:100%; border-top:1px solid #d5d5d5; border-collapse:separate; table-layout:fixed; border-spacing:0;">
			<colgroup>
				<col width="150px" />
				<col width="*" />
			</colgroup>
			<tbody>
			<tr>
				<th style="vertical-align:middle;background:#f1f1f1;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px;">분류</th>
				<td height="24" style="vertical-align:middle;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px; ">{C_CATE}</td>
			</tr>
			<tr>
				<th style="vertical-align:middle;background:#f1f1f1;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px;">제목</th>
				<td height="24" style="vertical-align:middle;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px; ">{TITLE}</td>
			</tr>
			<tr>
				<th style="vertical-align:middle;background:#f1f1f1;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px;">이름</th>
				<td height="24" style="vertical-align:middle;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px; ">{NAME}</td>
			</tr>
			<tr>
				<th style="vertical-align:middle;background:#f1f1f1;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px;">의뢰내용</th>
				<td height="24" style="vertical-align:middle;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px; ">{CONTENT}</td>
			</tr>
			<tr>
				<th style="vertical-align:middle;background:#f1f1f1;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px;">답변</th>
				<td height="24" style="vertical-align:middle;border-spacing:0; margin:0; padding:0; border-collapse:separate; *border-collapse:collapse; font-weight:normal;font-weight:normal;font-family:Dotum,'돋움',Gulim,Tahoma,Verdana,AppleGothic,sans-serif; font-size:12px; line-height:1.5; color:#666; word-spacing:0.1em;border-bottom:1px solid #d5d5d5; padding:6px 15px; ">{REPLY}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>