 <div class="font-cs-section">
	<div class="in-box">
		<div class="tit-ty5">
			<h2>cooming soon<i>!</i></h2>
			<p>곧 출시될 박윤정&타이포랩의 신서체를 미리 만나보세요.</p>
		</div>
	</div>
	<h3 class="tit-ty1"><p class="in-box">Tlab The classic.</p></h3>
	<div class="comming-soon">
		<div class="in-box">
			<p class="cs-view" style="max-width:812px;"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/font/cs_font1_1.jpg" alt=""/></p>
			<dl>
				<dt><span>구성</span></dt>
				<dd><span>Hairline</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
				<dd><span>Light</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자 / 한자 4,888자</dd>
				<dd><span>Regular</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자 / 한자 4,888자</dd>
				<dd><span>Bold</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자 / 한자 4,888자</dd>
				<dd><span>Title</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
			</dl>
		</div>
	</div>
	<h3 class="tit-ty1"><p class="in-box">Tlab The classic Italic.</p></h3>
	<div class="comming-soon">
		<div class="in-box">
			<p class="cs-font-view" style="max-width:814px;"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/font/cs_font1_2.jpg" alt=""/></p>
			<dl>
				<dt><span>구성</span></dt>
				<dd><span>Hairline</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
				<dd><span>Light</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
				<dd><span>Regular</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
				<dd><span>Bold</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
				<dd><span>Title</span>한글 2,350자 + 추가자 320자 / 영문94자 / KS특문 986자</dd>
			</dl>
		</div>
	</div>
	</div>