	<div class="txt-contents">
					<h4>혈관염의 다양한 증상, 혈관염 치료 방법</h4> 
					<p class="txt">
						혈관염이란 우리 몸의 면역기능에 이상이 생기거나 알러지성 반응이다.<br>
						혈관염의 정확한 원인이 밝혀지진 않았으나 혈관벽에 면역 복합체가 생기거나 이것들이 장기로 가는 영양분을 막아 장기를<br>
						손상시키기도 하며 장기 안에서 세포면역이상에 관련한 덩어리를 만들어 내기도 한다.
						또한, 혈관염은 류마티스, 루프스,<br> 두드러기, 뇌경색, 베체트와 같은 다양한 질환을 유발한다.<br>
						이보다 무서운 것이 혈관염 합병증인데 시력장애, 심장병, 심근경색, 호흡곤란, 폐출혈, 신장염, 장출혈, 장괴사, 피부괴사,<br>
						감염 등이 생길 수 있다. 뚜렷한 이유를 알지 못하기 때문에 치료나 질환의 예후를 정확히 알지 못하는 점이 혈관염이<br> 두려운 이유 중 하나.  
					</p>
					<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh15.gif" alt="통풍성 관절염" /></span>
					<h4 class="mt40">혈관염의 증상</h4>
					<div class="txt-box mt20">
						<strong class="tit01">01 전신증상</strong> 
						<p class="txt">
							열, 권태감, 근육 및 관절통, 식욕불량, 체중감소, 피로감 등
						</p>
						<strong class="tit01">02 피부</strong> 
						<div class="txt">
							대개 다리에 붉은 빛 또는 자줏빛 점이 나타난다.<br>
							간혹 큰 멍처럼 보이기도 하며 두드러기, 소양성 발진, 동통성 또는 압통성 덩어리가 나타날 수도 있다.
						</div>
						<strong class="tit01">03 관절</strong> 
						<p class="txt">
							관절통, 종창 및 열감을 동반한 진성 관절염이 나타난다.
						</p>
						<strong class="tit01">04 뇌</strong> 
						<p class="txt">
							두통, 행동장애, 혼란, 경련, 중풍 등을 일으킬 수 있다.
						</p>
						<strong class="tit01">05 말초신경</strong> 
						<p class="txt">
							팔다리의 장갑이나 양말에 덮이는 부분이 무뎌지거나 저린감, 감각소실, 발이나 손에서 힘이 빠지는 등의 증상이 나타난다.
						</p>
						<strong class="tit01">06 위장관</strong> 
						<p class="txt">
							장의 불충분한 혈액공급으로 인해 경련성 복통과 팽만감이 생길 수 있으며 장관벽이 손상되면 혈변이 나올 수 있다.
						</p>
						<strong class="tit01">07 심장</strong> 
						<p class="txt">
							움직이는 동안 가슴에 무게감을 느끼는데, 쉬면 없어진다.
						</p>
						<strong class="tit01">08 폐</strong> 
						<p class="txt">
							열과 기침을 동반하며 드물게는 만성적인 호흡곤란과 폐조직에 흉터를 일으킨다.
						</p>
						<strong class="tit01">09 눈</strong> 
						<p class="txt">
							갑자기 눈이 침침해지고, 충혈이 잘 되며 경우에 따라서는 시각을 잃기도 한다.
						</p>
					</div>
					<h4 class="mt40">혈관염의 치료</h4> 
					<p class="txt">
						혈관염의 치료 방법은 뚜렷하지 않다. 
						다만, 이 발생한 장기의 종류, 얼마나 침범 당했는지, 환자의 상태, 질환이 생긴 기간 등을<br>
						고려하여 치료가 진행되며 한번에 치유된다는 생각보다는 2~3년 동안 꾸준한 치료를 받아야 상태가 호전되는 것을 볼 수 있다.<br>
						스테로이드 호르몬 제제를 사용하며 여러 가지 면역억제제나 세포독성제제들을 병합 투여하는 방법으로 치료가 진행된다.<br>
						치료제가 면역을 억제시키는 약이기 때문에 감염에 노출되기 쉽다.
						평상시 감염이 되지 않도록 청결한 상태를 유지하는 것이<br> 좋다.
						혈관염을 치료하는 가장 좋은 방법은 예방이다.
						혈관염과 비슷한 증상이 생겼을 때 시간을 지체하지 않고 전문 내과를<br> 찾아 진단을 받는 것이좋다.
						질병 초기에는 약제에 대한 내성이 없기 때문에 잘 치료하면 빠른 시일에 치료가 가능 할 수 있다. 
					</p>
					
					</div>
				</div>