<div class="wrap-contents">
					<div class="sitemap">
						<ul class="c_box">
							<li>
								<h3><a href="/front/html/id/6">류마내과 소개</a></h3>
								<a href="/front/html/id/6">인사말</a>
								<a href="/front/html/id/7">의료진소개</a>
								<a href="/front/html/id/8">류마티스 내과란?</a>
								<a href="/front/html/id/9">관절염 종합검진</a>
								<a href="/front/html/address">찾아오시는길</a>
							</li>
							<li>
								<h3><a href="/front/html/id/10">류마티스 클리닉</a></h3>
								<a href="/front/html/id/10">강직성 척추염</a>
								<a href="/front/html/id/11">구내염</a>
								<a href="/front/html/id/12">골다공증</a>
								<a href="/front/html/id/13">루프스</a>
								<a href="/front/html/id/14">류마티스 관절염</a>
								<a href="/front/html/id/15">배체트</a>
								<a href="/front/html/id/16">섬유근육통</a>
								<a href="/front/html/id/17">쇼그렌증후군</a>
								<a href="/front/html/id/18">재발성 류마티즘</a>
								<a href="/front/html/id/19">통풍</a>
								<a href="/front/html/id/20">통풍성관절염</a>
								<a href="/front/html/id/21">혈관염</a>
							</li>
							<li>
								<h3><a href="/front/html/id/22">알레르기 클리닉</a></h3>
								<a href="/front/html/id/22">호흡기,알레르기</a>
							</li>
							<li>
								<h3><a href="/front/html/id/23">일반내과 클리닉</a></h3>
								<a href="/front/html/id/23">간기능 검사</a>
								<a href="/front/html/id/24">갑상선 검사</a>
								<a href="/front/html/id/25">고지혈증 검사</a>
								<a href="/front/html/id/26">골다공증 검사</a>
								<a href="/front/html/id/27">내시경 검사</a>
								<a href="/front/html/id/28">당뇨 관리</a>
								<a href="/front/html/id/29">빈혈 검사</a>
								<a href="/front/html/id/30">심전도 검사</a>
								<a href="/front/html/id/31">초음파 검사</a>
								<a href="/front/html/id/32">혈압 관리</a>
							</li>
							<li>
								<h3><a href="/front/board/list/id/33">류마 커뮤니티</a></h3>
								<a href="/front/board/list/id/33">새소식</a>
								<a href="/front/board/list/id/34">언론속에 류마내과</a>
								<a href="/front/board/list/id/35">류마 TALK</a>
								<a href="/front/board/list/id/36">진료사례</a>
								<a href="/front/board/list/id/37">류마 VOD</a>
							</li>
							<li>
								<h3><a href="/front/html/sitemap">이용안내</a></h3>
								<a href="/front/html/sitemap">사이트맵</a>
								<a href="/front/html/privacy">개인정보 처리방침</a>
							</li>
							
						</ul>
					</div>
				</div>