	<div class="txt-contents">
					<h4>골다공증이란?</h4>
					<p class="txt">
						골다공증은 뼈의 양이 감소하고 강도가 약해져 골다공증으로 인해 골절이 일어나기 쉬운 상태 골다공증은 초기의 증상이 없다.<br>
						하지만 일단 골다공증이 진행되는 상황하에서는 관절과 무릎, 손목, 발목 등이 시리고 아픈 증상이 발생한다. 
						골다공증의 원인은<br> 유전적인 부분이 가장 크며, 조기 폐경이나 흡연, 술, 류마티스 관절염이  있다.<br><br>
						
						골다공증의 증상이 생기기 시작하면 통증이 생기고 손목 뼈나 척추, 대퇴골 골절이 일어날 수 있다. 
						골다공증을 진단하는 골밀도는<br> 같은 인종, 나이, 성별을 표준화 하여 편차로 적용하여 진단한다.
						진단 기준인 표준 편차 값은 T값이 -2.5미만일 경우에는<br> 골다공증으로 진단한다.<br><br>

						보통 여성의 경우 35세 이후가 되면 골량이 감소하기 시작한다. 
						50세를 전후해서 폐경기가 되면 급격하게 골량이 감소함으로<br> 평상시에 칼슘과 비타민 D를 충분히 섭취해 주는 것이 좋다.
						골다공증 약 어떻게 복용해야 효과를 볼 수 있을까?<br> 
						골다공증 약도 다른 약과 마찬가지로 부작용이 있을 수 있다. 때문에 복용법을 따라야 합니다.  
					</p> 
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh02.gif" class="mt10" alt="골다공증" /></center>
					<div class="txt-contents">
						<ul class="mt20">
							<li class="mt10">아침 일찍 빈 속에 생수와 함께 복용한다.</li>
							<li class="mt10">약을 복용한 후 10분 이후에 음식을 섭취한다. </li>
							<li class="mt10">약은 200ml정도의 충분한 물과 함께 복용한다.</li>
							<li class="mt10">씹거나 가루로 복용하지 않는다.</li>
							<li class="mt10">복용 후 30분 동안 눕지 않는다.</li>
							<li class="mt10">아스피린과 함께 복용하지 않는다.</li>
						</ul>
					</div>
					<p class="txt">
						이는 약의 성분이 식도 등의 이동중에 자극이 되는 것을 방지하고 약의 효능을 높이기 위함이다. 
						다른 약제를 동시에 사용할 때에는<br> 꼭 담당의사와 상의 후 복용 하도록 한다.
						골다공증에는 비타민d가 필요하므로 하루 30분이상 햇빛을 쐬어주는 것이 좋고 우유나 멸치<br> 같은 칼슘이 함유되어 있는 음식을 충분히 섭취하는 것이 도움이 된다. 
						또한 가벼운 운동을 꾸준히 병행하는 것이 좋다.  
					</p> 
				</div>