<div class="member-section">
                <div class="in-box">
                    <div class="intro">
                        <p class="img"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/content/member_intro.jpg" alt="" /></p>
                        <p>정교한 디테일을 지닌 새로운 본문서체,<br />시대를 앞서 추구하는 실험적인 제목서체,<br />서체전문가로서 묵묵히 걸어온 우리가 앞으로도 만들어 갈 길입니다.</p>
                    </div><!-- end : .intro -->
                    <div class="tab-box active">
                        <ul class="member-list">
                            <li><a href="#member1"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/content/member_tab1_off.png" alt="" /><em>박윤정</em><span>Park Yun Jung</span></a></li>
                            <li><a href="#member2"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/content/member_tab2_off.png" alt="" /><em>최은규</em><span>Choi Eun Kyu</span></a></li>
                            <li><a href="#member3"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/content/member_tab3_off.png" alt="" /><em>김우리</em><span>Kim Woo RI</span></a></li>
                            <li><a href="#member4"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?>/images/content/member_tab4_off.png" alt="" /><em>이현호</em><span>Lee Hyun Ho </span></a></li>
                        </ul>
                    </div><!-- end : .tab-box -->
                </div>
                <div class="member" id="member1">
                    <div class="in-box">
                        <div class="info">
                            <p class="txt">
                                현, ㈜박윤정앤타이포랩 대표이사<br />
                                현, 국민대학교 테크노디자인전문대학원 시각디자인과 겸임교수<br />
                                전, ㈜윤디자인연구소 타이포디자인센터 총괄상무이사 (2005.08~2015.07)
                            </p>
                            <p class="vital">“ 흑과 백, 곡선과 직선, 긴장과 이완... 상반되는 요소 사이에서 절묘한 경계를 찾고 영감을 얻는다.<br />활자의 속성 안에 나만의 사고방식을 엮어 독특한 디테일을 지닌 나만의 결을 만든다.”</p>
                        </div>
                    </div>
                    <h2 class="tit-ty3"><p class="in-box">수상경력</p></h2>
                    <div class="in-box">
                        <ul class="career">
                            <li><span>2011</span><p>KT olleh체, 독일 iF어워드 타이포그래피 부문 winner수상<br />순천시 순천체, 대한민국생태수도 통합 관광 사인 시스템, GD굿디자인 선정</p></li>
                            <li><span>2010</span><p>윤디자인연구소 UD고딕, 한국디자인진흥원 주관 GD굿디자인 선정</p></li>
                            <li><span>1995</span><p>윤디자인연구소 봄, 여름, 가을, 겨울체, 월간디자인 선정 올해의 굿 디자인상 수상</p></li>
                        </ul>
                    </div>
                    <h2 class="tit-ty3"><p class="in-box">서체디자인</p></h2>
                    <div class="in-box">
                        <ul class="career">
                            <li><span>2015</span><p><strong>롯데캐슬 로고타입 국, 영문 디자인, 정릉시장 웃음꽃체 대표자디자인</strong></p></li>
                            <li><span>2014</span><p>대한체 대표자디자인(윤디자인연구소), 스카이라이프 국, 영문 로고타입, 전용서체 대표자디자인</p></li>
                            <li><span>2013</span><p>윤명조720(윤디자인연구소), 원불교 전용서체 대표자디자인, 이노션 전용서체 대표자디자인</p></li>
                            <li><span>2009</span><p>대신증권 국, 영문 로고타입, 대표자디자인</p></li>
                            <li><span>2008</span><p>서울시, 서울남산체 개발</p></li>
                            <li><span>2007</span><p>cre폰트패키지 쿨재즈, 하트나무, 행복 (윤디자인연구소)</p></li>
                            <li><span>2000</span><p>FB이철수목판글꼴 패키지 이철수21 (폰트뱅크)</p></li>
                            <li><span>1997~1998</span><p>FB갤러리1 패키지 스카이블루, 다크브라운, 오렌지, 바이올렛, 아이보리 (폰트뱅크)<br />FB갤러리3 패키지 윤정굴림, 푸른빛, 글꽃, 둥근POP, 평붓POP, 매직POP (폰트뱅크)</p></li>
                            <li><span>1995</span><p>겨울 (윤디자인연구소)</p></li>
                            <li><span>1994</span><p>가을 (윤디자인연구소)</p></li>
                            <li><span>1993</span><p>회상 (윤디자인연구소)</p></li>
                        </ul>
                        <h3 class="tit-ty4"><span>서체개발 총괄 디렉팅</span></h3>
                        <ul class="career">
                            <li><span>2016</span><p>NUSKIN 서체 (박윤정앤타이포랩)</p></li>
                            <li><span>2015</span><p>롯데캐슬, 정릉시장 웃음꽃체 (박윤정앤타이포랩)<br />SKT T고딕, 한솔교육, 한국야쿠르트서체 (윤디자인연구소)</p></li>
                            <li><span>2014</span><p>머리정체2 Basic, Special<br />포천시, KB국민카드, 보령제약, 네이버 나눔바른펜, 스카이라이프, 매일유업, IBK기업은행, 넵스 서체 (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>커리어우먼 시리즈 폰트패키지<br />신한카드, 에릭슨엘지, 이니스프리, 피파온라인, 흥국금융그룹, 원불교, 이노션 서체 (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>JTBC, 현대증권, 한국인삼공사, 롯데그룹, 롯데백화점, 고도소프트 (윤디자인연구소)</p></li>
                            <li><span>2011</span><p>엉뚱상상 폰트패키지<br />현대자동차, 하림, 쉐보레, 파리바게뜨, 다우키움그룹, 삼성전자 DTV영문 (윤디자인연구소)</p></li>
                            <li><span>2010</span><p>순천시, 예산 추사사랑체, 인쇄공용서체 (윤디자인연구소)</p></li>
                            <li><span>2009</span><p>KT olleh체, 한글과컴퓨터 함초롬체, 대신증권 (윤디자인연구소)</p></li>
                            <li><span>2008</span><p>서울시, 하나금융그룹, KTFT모바일서체 (윤디자인연구소)</p></li>
                            <li><span>2007</span><p>cre폰트 패키지<br />BC카드, 삼성생명, 대한교과서 서체 (윤디자인연구소)</p></li>
                            <li><span>2000</span><p>FB이철수목판글꼴 패키지 (폰트뱅크)</p></li>
                            <li><span>1999</span><p>FB갤러리2, FB갤러리4, FB갤러리5 (폰트뱅크)</p></li>
                        </ul>
                    </div>
                </div><!-- end : .member -->
                <div class="member" id="member2">
                    <div class="in-box">
                        <div class="info">
                            <p class="txt">
                                현, ㈜박윤정앤타이포랩 이사<br />
                                전, ㈜윤디자인연구소 타이포디자인센터 부장 (2010.07~2015.07)
                            </p>
                            <p class="vital">“ 한글의 기본 내포된 아름다움에는 기능성과 심미성이 고루 갖추어져 있다고 봅니다.<br />한글 디자인은 의미 있는 작업인 만큼 기능성과 심미성을 토대로 가치 있게 오랫동안 통용되는 글꼴 개발이 저의 소명입니다.”</p>
                        </div>
                    </div>
                    <h2 class="tit-ty3"><p class="in-box">서체디자인</p></h2>
                    <div class="in-box">
                        <ul class="career">
                            <li><span>2014</span><p>윤고딕705 (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>윤명조700 (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>윤고딕700 (윤디자인연구소)</p></li>
                            <li><span>2011</span><p>연꽃 (윤디자인연구소)</p></li>
                            <li><span>2000</span><p>FB효봉(폰트뱅크)</p></li>
                            <li><span>1994~1998</span><p>윤고딕100, 운현궁, 고인돌, 코스모스 (윤디자인연구소)</p></li>
                        </ul>
                        <h3 class="tit-ty4"><span>전용서체 프로젝트</span></h3>
                        <ul class="career">
                            <li><span>2015</span><p><strong>NUSKIN 대표자 디자인</strong></p></li>
                            <li><span>2013</span><p>이노션 (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>원불교 대표자 디자인 (윤디자인연구소)</p></li>
                            <li><span>2011</span><p>쉐보레 (윤디자인연구소)</p></li>
                            <li><span>2010</span><p>BC카드2 (윤디자인연구소)</p></li>
                            <li><span>2004</span><p>동아일보 고딕 (윤디자인연구소)</p></li>
                        </ul>
                        <h3 class="tit-ty4"><span>서체개발 디렉팅</span></h3>
                        <ul class="career">
                            <li><span>2014</span><p>네이버 전용서체 [나눔바른펜] (윤디자인연구소)<br />기업은행 전용서체 [아이드림/위시체] (윤디자인연구소)<br />삼성전자 전용서체 [삼성산스] (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>신한카드 전용서체 [세빛체] (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>원불교 전용서체 [한둥근체] (윤디자인연구소)</p></li>
                        </ul>
                    </div>
                </div><!-- end : .member -->
                <div class="member" id="member3">
                    <div class="in-box">
                        <div class="info">
                            <p class="txt">
                                현, ㈜박윤정앤타이포랩 / 디자인 팀장<br />
                                현, 한성대학교 한디원 / 시각디자인 출강<br />
                                전, ㈜윤디자인연구소 타이포디자인센터 / 디자인 팀장 (2005.02-2015.09)
                            </p>
                            <p class="vital">“ 바른 한글디자인은, 한글디자인에 대한 지식을 기본으로 트렌드에 발맞춘 새로운 감각을 입히고,<br />한 글자, 한 글자 정성과 열정을 뿌려야 비로소 바르고 좋은 한글 열매가 완성됩니다.”</p>
                        </div>
                    </div>
                    <h2 class="tit-ty3"><p class="in-box">서체디자인</p></h2>
                    <div class="in-box">
                        <ul class="career">
                            <li><span>2011~2014</span><p>윤고딕700 / 윤명조700 개발 참여 (윤디자인연구소)</p></li>
                            <li><span>2005~2010</span><p>사춘기 / 초코쿠키 / 수다패키지 폰트 /<br />고암새김 해 / 소망2 개발 (윤디자인연구소)</p></li>
                            <li><span>2005~2008</span><p>웹폰트 / 모바일 폰트 / 캐릭터 폰트 다수 개발 (윤디자인연구소)</p></li>
                        </ul>
                        <h3 class="tit-ty4"><span>전용서체 프로젝트</span></h3>
                        <ul class="career">
                            <li><span>2015</span><p><strong>롯데캐슬 전용서체 [롯데캐슬체]</strong><br />한국야쿠르트 전용서체, 대표자 디자인 (윤디자인연구소)</p></li>
                            <li><span>2014</span><p>이니스프리 [본문용 고딕] 대표자 디자인 (윤디자인연구소)<br />삼성 클락 숫자 디자인 (윤디자인연구소)<br />네이버 전용서체 [나눔바른펜] (윤디자인연구소)<br />강남제비스코 전용서체 (윤디자인연구소)<br />삼성전자 전용서체 [삼성산스] (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>흥국금융그룹 전용서체 [씨앗체] (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>롯데그룹 전용서체 (윤디자인연구소)<br />삼성전자 숫자폰트 개발 (윤디자인연구소)</p></li>
                            <li><span>2011</span><p>현대자동차 전용서체 [모던-H] (윤디자인연구소)</p></li>
                            <li><span>2010</span><p>순천시 전용서체 (윤디자인연구소)<br />올레KT 전용서체 [올레체] 영문개발 (윤디자인연구소)</p></li>
                            <li><span>2009</span><p>한글과컴퓨터 오피스 전용서체 [함초롬돋움] (윤디자인연구소)</p></li>
                            <li><span>2008</span><p>삼성전자 모바일 디폴트 폰트 개발 (윤디자인연구소)</p></li>
                        </ul>
                        <h3 class="tit-ty4"><span>서체개발 디렉팅</span></h3>
                        <ul class="career">
                            <li><span>2015</span><p>한국야쿠르트 전용서체 (윤디자인연구소)</p></li>
                            <li><span>2014</span><p>매일유업 전용서체 (윤디자인연구소)</p></li>
                            <li><span>2014</span><p>머리정체2 (베이직/스페셜) (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>KB국민카드 전용서체 (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>JTBC 본문용 전용서체 (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>이니스프리 전용서체 (윤디자인연구소)</p></li>
                            <li><span>2012~2013</span><p>팬시폰트 디렉팅 (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>롯데백화점 전용서체 (윤디자인연구소)</p></li>
                        </ul>
                    </div>
                </div><!-- end : .member -->
                <div class="member" id="member4">
                    <div class="in-box">
                        <div class="info">
                            <p class="txt">
                                계명대학교 서예과 졸업<br />
                                현, ㈜박윤정앤타이포랩 / 디자인 팀장<br />
                                전, ㈜윤디자인연구소 타이포디자인센터 대리 (2008.11~2015.05)
                            </p>
                            <p class="vital"><span class="pointC-ty1">“ 디자인을 접근하는 방법은 즐거운 상상과 호기심에서부터,<br />한글을 대하는 자세는 체계적이고 신중하게 접근하여 다양한 양질의 서체를 제작합니다.”</span></p>
                        </div>
                    </div>
                    <h2 class="tit-ty3"><p class="in-box">서체디자인</p></h2>
                    <div class="in-box">
                        <ul class="career">
                            <li><span>2015</span><p>강병인의 [영묵체] (윤디자인연구소)</p></li>
                            <li><span>2013</span><p>윤고딕700 시리즈 특수문자 (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>커리어우먼 시리즈 [화이트핏] (윤디자인연구소)</p></li>
                            <li><span>2011~2012</span><p>웹폰트 / 모바일 폰트 개발 (윤디자인연구소)</p></li>
                        </ul>
                        <h3 class="tit-ty4"><span>전용서체 프로젝트</span></h3>
                        <ul class="career">
                            <li><span>2015</span><p><strong>정릉시장 전용서체 [웃음꽃체]</strong><br />한솔교육 전용서체 [한솔아름체] (윤디자인연구소)</p></li>
                            <li><span>2014</span><p>JTBC 본문용서체 (윤디자인연구소)<br />강남제비스코 전용서체 (윤디자인연구소)<br />원불교 전용서체 [한둥근 돋움체] (윤디자인연구소)</p></li>
                            <li><span>2012</span><p>희망 한글나무 서체 [법정체] (윤디자인연구소)</p></li>
                            <li><span>2011</span><p>디즈니 전용서체 [주니어체] (윤디자인연구소)</p></li>
                            <li><span>2010</span><p>대한교과서 전용서체 [경필체] (윤디자인연구소)</p></li>
                            <li><span>2009</span><p>한글과컴퓨터 전용서체 한자개발 (윤디자인연구소)</p></li>
                        </ul>
                    </div>
                </div><!-- end : .member -->
            </div>