  <div class="about-section">
                <div class="in-box">
                    <div class="intro">
                        <p>㈜박윤정&타이포랩은 2015년 9월에 설립된 글꼴 연구, 개발 전문가 집단입니다.</p>
                        <p class="txt">새로운 해석과 다양한 실험으로 폰트디자인을 비롯한 로고타입디자인, 타이틀디자인 등 글꼴디자인의 새로운 길을 제시하고자 합니다.<br />"타이포그래피 표현의 기본 목적은 활자로 표현된 내용을 읽고 보는 사람들에게 심미적 공감을 줌과 동시에 정보전달자의 뜻을 충실히 전달하도록 만드는 것이다."<br />스승인 고 김진평선생의 말씀을 뿌리로 삼아 진지하고 명확한 접근, 명쾌한 디자인으로 높은 품질의 결과물을 만듭니다.<br />기본에 충실한 글꼴 디자인은 편리하고, 아름답고, 효용성 높은 가치있는 사회를 만든다 믿으며 실천합니다.</p>
                        <p class="img">
                            <span><img src="../asset/images/content/about_top1.jpg" alt="" /></span>
                            <span><img src="../asset/images/content/about_top2.jpg" alt="" /></span>
                        </p>
                    </div>
                </div>
                <h2 class="tit-ty1"><p class="in-box">History.</p></h2>
                <div class="in-box">
                    <ul class="history">
                        <li><span>2015.09</span><p>㈜박윤정앤타이포랩 설립<br />(2005.08~2015.07  ㈜윤디자인연구소 재직, 타이포디자인센터 총괄상무이사 역임)</p></li>
                        <li><span>2015.11</span><p>롯데건설, 롯데캐슬 국, 영문 logotype design, 서체 롯데캐슬체 1종 개발</p></li>
                        <li><span>2015.12</span><p>정릉시장신사업단, 정릉시장서체 웃음꽃체 2종 개발</p></li>
                        <li><span>2016.06</span><p>NUSKIN, Slogan design, 서체 3종 개발</p></li>
                    </ul>
                </div>
                <h2 class="tit-ty1"><p class="in-box">Portfolio.</p></h2>
                <div class="in-box">
                    <div class="tab-box active">
                        <ul>
                            <li><a href="#portfolio1">by 박윤정&타이포랩</a></li>
                            <li><a href="#portfolio2">by 윤디자인연구소</a></li>
                        </ul>
                    </div><!--end : .tab-box -->
                    <div class="portfolio" id="portfolio1">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t1_1.jpg" alt="" /></span>
                                    <span class="days">2015.12</span>
                                    <span class="txt">정릉시장</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t1_2.jpg" alt="" /></span>
                                    <span class="days">2015.11</span>
                                    <span class="txt">롯데캐슬</span>
                                </a>
                            </li>
                        </ul>
                    </div><!--end : #portfolio1 -->
                    <div class="portfolio" id="portfolio2">
                        <ul>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_1.jpg" alt="" /></span>
                                    <span class="days">2015</span>
                                    <span class="txt">한솔교육</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_2.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">매일유업</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_3.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">KB국민카드</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_4.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">보령제약</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_5.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">나눔바른펜</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_6.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">포천시</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_7.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">스카이라이프</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_8.jpg" alt="" /></span>
                                    <span class="days">2014</span>
                                    <span class="txt">대한반포체</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_9.jpg" alt="" /></span>
                                    <span class="days">2013</span>
                                    <span class="txt">신한카드</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_10.jpg" alt="" /></span>
                                    <span class="days">2013</span>
                                    <span class="txt">흥국금융그룹</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_11.jpg" alt="" /></span>
                                    <span class="days">2013</span>
                                    <span class="txt">이노션</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_12.jpg" alt="" /></span>
                                    <span class="days">2013</span>
                                    <span class="txt">원불교</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_13.jpg" alt="" /></span>
                                    <span class="days">2012</span>
                                    <span class="txt">JTBC</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_14.jpg" alt="" /></span>
                                    <span class="days">2012</span>
                                    <span class="txt">이니스프리</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_15.jpg" alt="" /></span>
                                    <span class="days">2012</span>
                                    <span class="txt">현대증권</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_16.jpg" alt="" /></span>
                                    <span class="days">2012</span>
                                    <span class="txt">한국인삼공사</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_17.jpg" alt="" /></span>
                                    <span class="days">2011</span>
                                    <span class="txt">현대자동차</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_18.jpg" alt="" /></span>
                                    <span class="days">2011</span>
                                    <span class="txt">롯데백화점</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_19.jpg" alt="" /></span>
                                    <span class="days">2011</span>
                                    <span class="txt">쉐보레</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_20.jpg" alt="" /></span>
                                    <span class="days">2011</span>
                                    <span class="txt">파리바게뜨</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_21.jpg" alt="" /></span>
                                    <span class="days">2011</span>
                                    <span class="txt">롯데그룹</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_22.jpg" alt="" /></span>
                                    <span class="days">2010</span>
                                    <span class="txt">충북예산군</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_23.jpg" alt="" /></span>
                                    <span class="days">2010</span>
                                    <span class="txt">BC카드</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_24.jpg" alt="" /></span>
                                    <span class="days">2010</span>
                                    <span class="txt">순천시</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_25.jpg" alt="" /></span>
                                    <span class="days">2009</span>
                                    <span class="txt">대신증권</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_26.jpg" alt="" /></span>
                                    <span class="days">2009</span>
                                    <span class="txt">한글과컴퓨터</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_27.jpg" alt="" /></span>
                                    <span class="days">2009</span>
                                    <span class="txt">올레KT</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_28.jpg" alt="" /></span>
                                    <span class="days">2008</span>
                                    <span class="txt">하나금융그룹</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="thum"><img src="../asset/images/portfolio/pf_t2_29.jpg" alt="" /></span>
                                    <span class="days">2008</span>
                                    <span class="txt">서울서체</span>
                                </a>
                            </li>
                        </ul>
                    </div><!--end : #portfolio2 -->
                </div>
            </div>