 <div class="terms-section">
   <h2 class="tit-ty2"><p class="in-box">개인정보취급방침.</p></h2>
   <div class="in-box">
     <div class="textarea">
        제 1 조 (목적)
        이 약관은 타이포랩(이하 ”회사”라 함)이 운영하는 인터넷사이트(이하 “사이트”라 함)에서 제공하는 인터넷 관련 서비스(이하 “서비스”라 함)를 이용함에 있어 회원의 권리/의무 및 책임사항을 규정함을 목적으로 합니다.
        제 2 조 (용어의 정의)
        1. “사이트”란 회사에 회원으로 등록한 이용자가 다양한 정보와 서비스를 제공받을 수 있도록 회사가 제작, 운영하는 인터넷 웹사이트를 의미합니다. 현재 회사가 운영하는 사이트(2016.06.20 기준)는 아래와 같으며, 추후 회사의 정책에 따라 변경될 수 있습니다.
        http://typolab.co.kr/
        2. “회원”이라 함은 사이트에 개인정보를 포함한 정보를 제공하여 회원등록을 한 자로서, 회원등록시 설정한 아이디(ID)로 사이트에 자유롭게 접속하여 사이트의 정보를 지속적으로 제공받을 수 있거나 사이트가 제공하는 서비스를 계속적으로 이용할 수 있는 자를 말합니다.
        3. “상품 등"이라 함은 회사의 사이트를 통하여 회원에게 판매되는 상품 또는 쿠폰을 말합니다.
        4. “아이디(ID)”라 함은 회원의 식별, 정보 제공 및 서비스 이용을 위하여 회원이 설정하고 회사가 승인하여 사이트에 등록된 전자우편주소를 말합니다.
        5. “비밀번호(Password)”라 함은 회원의 동일성 확인과 회원의 권익 및 비밀보호를 위하여 회원 스스로가 설정하여 사이트에 등록한 문자와 숫자의 조합을 말합니다.

        제 3 조 (약관의 명시와 설명 및 개정)
        1. 회사는 이 약관의 내용을 회사의 상호, 대표자의 성명, 영업소 소재지, 전화번호, 전자우편주소 등과 함께 회원이 쉽게 확인할 수 있도록 사이트의 초기 서비스 화면에 게시합니다. 다만, 약관의 구체적 내용은 회원이 연결화면을 통하여 확인할 수 있습니다.
        2. 회사는 『전자상거래 등에서의 소비자 보호에 관한 법률』, 『약관의 규제 등에 관한 법률』, 『전자거래 기본법』, 『전자서명법』, 『정보통신망 이용촉진 등에 관한 법률』, 『소비자기본법』 등 관련 법령을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
        3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 사이트의 초기화면에 그 적용일자 7일(다만, 회원에게 불리한 내용으로 변경하는 경우에는 30일) 이전부터 적용일자 전일까지 공지합니다.
        4. 제3항에 의해 변경된 약관은 법령에 특별한 규정 기타 부득이한 사유가 없는 한 그 적용일자 이전으로 소급하여 적용되지 아니합니다.
        5. 제3항에 따라 공지된 적용일자 이후에 회원이 명시적으로 거부의사를 표명하지 않을 경우에는 개정된 약관에 동의하는 것으로 봅니다.
        6. 회사는 제공하는 서비스 내의 개별 서비스에 대한 별도의 약관 및 이용조건을 둘 수 있으며 개별 서비스에서 별도로 적용되는 약관에 대한 동의는 회원이 개별 서비스를 최초로 이용할 경우 별도의 동의절차를 거치게 됩니다. 이 경우 개별 서비스에 대한 이용약관 등이 이 약관에 우선합니다.
        7. 이 약관에 명시하지 않은 사항은 『전자상거래 등에서의 소비자 보호에 관한 법률』 등 관련 법령의 규정과 일반 상관례에 의합니다.

        제 4 조 (이용계약의 성립)
        1. 이용계약은 만 14세 이상으로서 회원이 되고자 하는 자(이하 “이용신청자”라 함)가 약관의 내용에 동의를 하고, 회사가 정한 가입양식에 따라 회원정보(성명, 연락처, 전자우편주소, 비밀번호 등)를 기입하여 회원가입신청을 하고 회사가 이러한 신청에 대하여 승인함으로써 성립합니다.
        2. 회사는 다음 각 호에 해당하는 신청에 대하여는 승인을 거부하거나 유보할 수 있습니다.
        가. 이미 가입된 회원과 성명 및 전자우편주소가 동일한 경우
        나. 실명이 아니거나 타인의 명의를 이용한 경우
        다. 등록내용에 허위의 정보를 기재하거나, 기재누락, 오기가 있는 경우
        라. 회원가입일 현재 만 14세 미만인 경우
        마. 이용신청자가 이 약관에 의하여 이전에 회원자격을 상실한 적이 있는 경우. 다만, 회원자격 상실 후 3개월이 경과한 자로서 회사의 회원 재가입 승낙을 얻은 경우에는 예외로 함
        바. 미성년자가 담배, 주류 등 『청소년보호법』에서 금지하는 재화 등을 구매하는 경우
        사. 부정한 용도 또는 영리를 추구할 목적으로 이 서비스를 이용하고자 하는 경우
        아. 서비스 관련설비의 여유가 없거나, 기술상 또는 업무상 문제가 있는 경우
        자. 관련 법령 및 기타 제반 사항을 위반하여 신청하거나 회원의 귀책사유로 인하여 승인이 불가능한 경우
        차. 기타 이 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우 및 회사가 합리적인 판단에 의하여 필요하다고 인정하는 경우
        3. 제1항의 신청에 있어 회사는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』에 의한 본인확인기관을 통한 실명확인 및 본인인증을 요청할 수 있습니다.
        4. 제2항에 따라 회사가 회원가입신청의 승인을 거부하거나 유보한 경우 원칙적으로 이를 회원에게 알립니다.
        5. 이용계약의 성립시기는 회사의 승낙이 이용신청자에게 도달한 때에 완료됩니다.
        6. 회사는 회원에 대해 회사정책에 따라 등급별로 구분하여 이용시간, 이용횟수, 서비스 메뉴 등을 세분하여 이용에 차등을 둘 수 있습니다.
        7. 회사는 회원에 대하여 『영화 및 비디오물의 진흥에 관한 법률』 및 『청소년 보호법』 등에 따른 등급 및 연령준수를 위해 이용제한이나 등급별 제한을 할 수 있습니다.

        제 5 조 (이용계약의 종료)
        1. 회원 또는 회사는 본 조에서 정한 바에 따라 이용계약을 해지(회원탈퇴를 요청)할 수 있습니다.
        2. 회원의 해지
        가. 회원은 언제든지 회사에 해지의사를 통지함으로써 이용계약을 해지(회원탈퇴를 요청)할 수 있으며, 회사는 회원탈퇴에 관한 규정에 따라 이를 처리합니다.
        나. 이용계약은 회원의 해지의사가 회사에 도달한 때에 종료됩니다.
        다. 본 조항에 따라 해지를 한 회원(탈퇴한 회원)은 이 약관이 정하는 회원가입절차와 관련조항에 따라 회원으로 다시 가입할 수 있습니다. 단, 기존에 가입되었던 계정의 정보를 보호하기 위해 재가입을 일정기간 동안 제한할 수 있습니다.
        라. 회원가입시에 적용되는 이벤트 등의 혜택은 본 조항에 따른 해지(회원탈퇴)이후 재가입하더라도 적용되지 않습니다.
        마. 회원임을 전제로 한 이벤트 및 각종 정책은 본 조항에 따른 해지 이후에는 적용되지 않습니다.
        바. 본 조항에 따른 해지시 회원은 이용계약 종료(회원 탈퇴)이전에 잔여 폰트 다운로드, 잔여 캐시 및 포인트, 할인쿠폰을 모두 사용하여야 하며, 이용계약이 종료됨과 함께 폰트 다운로드, 잔여 캐시 및 포인트, 할인쿠폰은 소멸되며 환불되지 않습니다.
        3. 회사의 해지
        가. 회사는 다음과 같은 사유가 있는 경우 이용계약을 해지할 수 있습니다.
        A. 제4조 제2항에서 정하고 있는 이용계약의 승낙거부사유가 있음이 확인된 경우
        B. 회원이 회사나 다른 회원 기타 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하는 행위를 한 경우
        C. 재판매의 목적으로 사이트에서 상품 등을 중복 구매하는 등 사이트의 거래질서를 방해하는 경우
        D. 기타 회원이 이 약관에 위배되는 행위를 하는 경우
        나. 회사는 전자우편, 전화, 팩스 기타의 방법을 통하여 해지사유를 밝혀 회원에게 해지의사를 통지합니다. 다만 회사는 해당 회원에게 사전에 해지사유에 대한 의견진술의 기회를 부여합니다.
        4. 본 조항에 따라 이용계약이 종료되면 회원은 서비스를 이용할 권한이 없어지고, 회원의 개인정보 및 기록 등은 원칙적으로 삭제됩니다. 단, 다음 각 호의 경우에는 예외적으로 보존됩니다.
        가. 『전자상거래 등에서의 소비자보호에 관한 법률』에 의하여 아래의 사항에 관한 기록은 법령에서 정한 기간 동안 보존됩니다.
        A. 계약 또는 청약의 철회 및 계약의 해제(이하 “청약철회 등”이라 함)에 관한 기록
        B. 대금결제 및 재화 등의 공급에 관한 기록(성명, 주소, 주민등록번호 등 거래의 주체를 식별할 수 있는 정보에 한함)
        나. 이미 구매한 상품 등을 사용하지 못한 경우 해당 사용가능기간 동안 상품 등의 사용에 관련된 정보는 보존됩니다.
        5. 본 조항에 따라 이용계약이 종료되는 경우 이미 구매한 상품 등의 환불 등의 처리에 관하여는 회사의 환불규정에 의합니다.
        6. 이용계약의 종료와 관련하여 발생한 손해는 이용계약이 종료된 해당 회원이 책임을 부담합니다.

        제 6 조 (회원자격의 제한 또는 정지)
        1. 회원이 다음 각 호의 사유에 해당하는 경우, 회사는 회원자격을 즉시 제한 또는 정지시킬 수 있습니다.
        가. 회원가입신청 또는 변경시 허위 내용을 등록한 경우
        나. 사이트를 이용하여 구입한 상품 등의 대금, 기타 사이트 이용에 관련하여 회원이 부담하는 채무를 기일에 이행하지 않는 경우
        다. 다른 사람의 사이트 이용을 방해하거나 그 정보를 도용하는 등 전자상거래질서를 위협하는 경우
        라. 사이트를 이용하여 법령, 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
        마. 기타 다음과 같은 행위 등으로 사이트의 건전한 운영을 해하거나 사이트의 업무를 방해하는 경우
        A. 사이트의 운영과 관련하여 근거 없는 사실 또는 허위의 사실을 적시하거나 유포하여 회사의 명예를 실추시키거나 사이트의 신뢰성을 해하는 경우
        B. 사이트의 이용과정에서 직원에게 폭언, 협박 또는 음란한 언행 등으로 사이트의 운영을 방해하는 경우
        C. 사이트를 통해 상품 등을 구매한 후 정당한 이유 없이 상습 또는 반복적으로 취소/반품하여 회사의 업무를 방해하는 경우
        D. 사이트를 통해 구입한 상품 등에 특별한 하자가 없는데도 불구하고 일부 사용 후 상습적인 취소/전부 또는 일부 반품 등으로 회사의 업무를 방해하는 경우
        2. 회사가 회원자격을 제한/정지시킨 후 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 회사는 제5조에 따라 이용계약을 해지할 수 있습니다.

        제 7 조 (서비스 이용시간)
        서비스의 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다. 다만 정기점검 또는 긴급한 사유로 인한 수시점검의 필요로 회사가 정한 날이나 시간은 제외됩니다. 점검시간은 서비스제공화면에 공지한 바에 따릅니다.
        제 8 조 (서비스 이용책임)
        회원은 서면에 의하여 회사가 명시적이고 구체적으로 허용한 경우를 제외하고 회사의 서비스를 이용하여 상품을 판매하는 영업활동을 할 수 없으며, 특히 해킹, 돈벌이 광고, 음란사이트 등을 통한 상업행위, 상용 S/W 불법배포 등을 할 수 없습니다. 이를 위반하여 발생한 결과 및 손실, 관계 기관에 의한 법적 조치 등에 관해서는 회사가 책임을 지지 않으며 회사에 손해가 발생한 경우 위반자는 손해를 배상할 의무가 있습니다.
        제 9 조 (서비스 제공의 중지)
        1. 회사는 다음 각 호에 해당하는 경우 서비스의 제공을 중지할 수 있습니다.
        가. 컴퓨터 등 정보통신설비의 보수점검/교체 및 고장, 통신의 두절 등의 사유가 발생한 경우
        나. 『전기통신사업법』에 규정된 기간통신사업자가 전기통신 서비스를 중지했을 경우
        다. 기타 불가항력적 사유가 있는 경우
        2. 회사는 국가비상사태, 정전, 서비스설비의 장애 또는 서비스 이용의 폭주 등으로 정상적인 서비스 이용에 지장이 있는 때에는 서비스의 전부 또는 일부를 제한하거나 정지할 수 있습니다.
        3. 회사가 서비스 제공을 일시적으로 중단할 경우 서비스 일시 중단사실과 그 사유를 사이트 초기화면에 통지합니다.

        제 10 조 (정보의 제공 및 광고의 게재)
        1. 회사는 회원이 서비스 이용 중 필요하다고 인정되는 다양한 정보를 공지사항 또는 전자우편이나 서신우편, SMS, 전화 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원은 관련법에 따른 거래관련정보 및 고객문의 등에 대한 답변 등을 제외하고는 언제든지 전자우편 등에 대해서 수신 거절을 할 수 있습니다.
        2. 회사는 서비스의 운영과 관련하여 서비스 화면, 홈페이지, 전자우편 등에 광고를 게재할 수 있습니다. 광고가 게재된 전자우편 등을 수신한 회원은 수신거절의 의사표시를 할 수 있으며, 회사는 수신거절을 위한 방법을 회원에게 제공합니다.

        제 11 조 (회원에 대한 통지)
        1. 회사가 회원에 대한 통지를 하는 경우, 회원이 가입신청시 회사에 제출한 전자우편주소나 SMS 등으로 할 수 있습니다.
        2. 회사는 불특정다수 회원에 대한 통지의 경우 1주일 이상 사이트의 공지사항(고객센터)에 게시함으로써 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래에 관하여 중대한 영향을 미치는 사항에 대하여는 개별 통지합니다.

        제 12 조 (구매신청)
        1. 회원은 이 약관 및 회사가 정한 규정에 따라 아래 또는 이와 유사한 방법에 의하여 구매를 신청하여야 합니다.
        가. 상품 등의 선택
        나. 성명, 주소, 전화번호, 전자우편주소(또는 휴대폰번호) 등의 입력
        다. 상품 등의 구매신청 및 이에 관한 확인
        라. 결제방법의 선택
        2. 회사는 회원의 구매신청이 있는 경우 회원에게 구매확인통지를 하며, 이 통지가 도달한 시점에 구매계약이 성립합니다.
        3. 전항의 구매확인통지를 받은 회원은 의사표시의 불일치 등이 있는 경우에 구매확인통지를 받은 후 즉시 구매신청 변경 및 취소를 요청할 수 있습니다. 다만, 회원이 이미 대금을 지불한 후 구매신청의 변경 및 취소를 요청하는 경우 제24조 청약철회 등에 관한 규정에 따릅니다.

        제 13 조 (대금지급방법)
        1. 사이트에서 구매한 상품 등에 대한 대금지급방법은 다음 각 호의 하나로 할 수 있습니다. 다만 회사의 정책에 따라 일부 대금지급방법의 사용이 제한될 수 있습니다.
        가. 신용카드
        나. 무통장입금
        2. 회원이 구매대금의 결제와 관련하여 입력한 정보 및 그 정보와 관련하여 발생한 책임과 불이익은 전적으로 회원이 부담합니다.

        제 14 조 (상품 등의 공급)
        1. 회사는 회원의 상품 등의 공급에 관하여 별도의 약정이 없는 이상 회원이 상품 등을 구매한 날부터 신속하게 상품 등을 배송할 수 있도록 필요한 조치를 취합니다.
        2. 회사는 회원이 상품 등의 공급절차 및 진행사항, 상품 등에 대한 구매 결제내역을 확인할 수 있도록 관련 정보를 제공하며, 상품 등의 구매 취소방법 및 절차를 안내합니다.
        3. 회사와 고객간에 상품의 인도시기 및 쿠폰의 제공시기에 관하여 별도의 약정이 있는 경우에는 이 약관에 우선합니다.

        제 15 조 (환급)
        회사는 회원이 구매 신청한 상품 등을 품절 등의 사유로 인도 또는 제공할 수 없을 때에는 지체 없이 그 사유를 회원에게 통지하여야 하고, 사전에 상품 등의 대금을 받은 경우에는 대금을 받은 날로부터 3영업일 이내에 환급하거나 환급에 필요한 조치를 취합니다.
        제 16 조 (청약철회 등)
        1. 회사의 상품 등의 구매취소 및 환불 규정은 『전자상거래 등에서의 소비자보호에 관한 법률』 등 관련 법령을 준수합니다.
        2. 회사는 회원이 구매 신청한 쿠폰 판매수량이 해당 서비스가 정한 개별 조건 상의 목표수량을 달성하지 못해 공동구매 자체가 성사되지 않는 경우에는, 그 사유를 회원에게 통지하고, 사유발생일 다음날 오전 0시부터 3영업일 이내에 계약해지 및 환급절차를 취합니다. 단, 회원이 구매한 상품이 이미 주문 접수된 경우에는 개별조건상의 최소 판매수량에 미달하더라도 취소 없이 상품을 배송 처리합니다.
        3. 회사와 상품 등의 구매에 관한 계약을 체결한 회원은 구매확인의 통지를 받은 날(전자우편 또는 SMS 통지 등을 받은 날) 또는 상품 등의 공급을 받은 날로부터 7일 이내에는 청약을 철회할 수 있습니다.
        4. 회원은 상품 등을 배송 받은 후 아래 각 호에 해당하는 경우에는 교환 및 반품을 할 수 없습니다.
        가. 회원에게 책임 있는 사유로 상품 등이 멸실 또는 훼손된 경우(다만, 상품 등의 내용을 확인하기 위하여 포장 등을 훼손한 경우는 제외함)
        나. 회원의 사용 또는 일부 소비에 의하여 상품 등의 가치가 현저히 감소한 경우
        다. 시간의 경과에 의하여 재판매가 곤란할 정도로 상품 등의 가치가 현저히 감소한 경우
        라. 복제가 가능한 상품 등의 포장을 훼손한 경우
        마. 회사가 상품 등의 청약철회 등의 제한에 관해 사전에 고지한 경우
        5. 회원은 제3항 및 제4항의 규정에 불구하고 상품 등의 내용이 표시/광고 내용과 다르거나 계약 내용과 다르게 이행된 때에는 당해 상품 등을 공급받은 날부터 3개월 이내, 그 사실을 안 날 또는 알 수 있었던 날부터 30일 이내에 청약철회 등을 할 수 있습니다.
        6. 여러 상품을 구매한 경우에는 부분취소가 불가합니다.
        7. 구매한 폰트를 3회 중 1회라도 다운받은 경우 취소가 불가능합니다.

        제 17 조 (청약철회 등의 효과)
        1. 회원이 구매한 상품 등을 취소 또는 환불하는 경우 회사는 그 처리 결과에 대해 제11조(회원에 대한 통지)에 정한 방법으로 통지합니다.
        2. 회사는 회원으로부터 쿠폰취소 요청 또는 상품 등을 반환 받은 경우 3영업일 이내에 이미 지급받은 대금을 환급합니다. 이 경우 회사가 회원에게 재화 등의 환급을 지연할 때에는 그 지연기간에 대하여 공정거래위원회가 정하여 고시하는 지연이자율을 곱하여 산정한 지연이자를 지급합니다.
        3. 이미 쿠폰 또는 상품 등이 일부 사용 또는 일부 소비된 경우에는 일부 소비에 의하여 회원이 얻은 이익 또는 그 쿠폰 또는 상품 등의 공급에 소요된 비용에 상당하는 금액으로서 아래의 각 호에 해당하는 금액의 지급을 회원에게 청구할 수 있습니다.
        가. 상품 등의 사용으로 인하여 소모성 부품의 재판매가 곤란하거나 재판매가격이 현저히 하락하는 경우에는 당해 소모성 부품의 공급에 소요된 비용
        나. 다수의 동일한 가분물로 구성된 상품 등의 경우에는 회원의 일부 소비로 인하여 소비된 부분의 공급에 소요된 비용
        4. 청약철회 등의 경우 공급받은 상품 등의 반환에 필요한 비용은 회원이 부담합니다. 다만, 상품 등의 내용이 표시/광고 내용과 다르거나 계약내용과 다르게 이행되어 청약철회 등을 하는 경우 상품 등에 필요한 비용은 회사가 부담합니다.
        5. 회원의 단순변심에 의한 취소일 경우 환불처리에 발생하는 수수료와 기타 제반 비용은 회원이 부담합니다.
        6. 기타 이 약관 및 사이트의 이용안내에 규정되지 않은 취소 및 환불에 대한 사항에 대해서는 소비자 피해보상규정에서 정한 바에 따릅니다.

        제 18 조 (상품 등의 취소 및 환불의 특칙)
        상품의 반품에 따른 환불은 반품하는 상품이 판매자에게 도착되고, 반품사유 및 반품배송비 부담자가 확인된 이후에 이루어집니다.
        제 19 조 (개인정보의 변경)
        1. 회원은 개인정보관리화면을 통하여 언제든지 본인의 개인정보를 열람하고 수정할 수 있습니다.
        2. 회원은 회원가입 신청시 기재한 사항이 변경되었을 경우 즉시 변경사항을 최신의 정보로 수정하여야 하는데, 온라인 또는 전자우편, 기타 방법에 의하여 회사에 그 변경사항을 알려야 합니다.
        3. 제2항의 변경사항을 회사에 알리지 않아 발생한 손해에 대하여 당해 회원이 전적으로 책임을 부담합니다.

        제 20 조 (개인정보의 보호)
        1. 회사는 회원의 개인정보를 보호하기 위하여 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』 등 관련 법령에서 정하는 바를 준수합니다.
        2. 회사는 회원의 개인정보를 보호하기 위하여 개인정보취급방침을 제정, 서비스 초기화면에 게시합니다. 다만, 개인정보취급방침의 구체적 내용은 연결화면을 통하여 볼 수 있습니다.
        3. 회사는 개인정보취급방침에 따라 회원의 개인정보를 최대한 보호하기 위하여 노력하고, 개인정보 보호 책임자를 지정하여 이를 게시하여 운영합니다.
        4. 회사의 사이트(제2조 제1항에서 정한 범위 내) 이외의 링크된 사이트에서는 회사의 개인정보취급방침이 적용되지 않습니다. 링크된 사이트 및 상품 등을 제공하는 제3자의 개인정보 취급과 관련하여는 해당 사이트 및 제3자의 개인정보취급방침을 확인할 책임이 회원에게 있으며, 회사는 이에 대하여 책임을 부담하지 않습니다.
        5. 회사는 다음과 같은 경우에 법이 허용하는 범위 내에서 회원의 개인정보를 제3자에게 제공할 수 있습니다.
        가. 수사기관이나 기타 정부기관으로부터 정보제공을 요청 받은 경우
        나. 회원이 법령을 위반하는 등의 부정행위를 확인하기 위해 필요한 경우
        다. 판매자 또는 배송업체 등에게 거래 및 배송 등에 필요한 최소한의 회원의 정보(성명, 주소, 전화번호)를 제공하는 경우
        라. 구매가 성사된 때에 그 이행을 위하여 필요한 경우와 구매가 종료된 이후에도 반품, 교환, 환불, 취소 등을 위하여 필요한 경우
        마. 기타 법률에 의해 요구되는 경우

        제 21 조 (회사의 의무)
        1. 회사는 관련법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 상품 등을 제공하는데 최선을 다하여야 합니다
        2. 회사는 회원이 안전하게 서비스를 이용할 수 있도록 회원의 개인정보(신용정보 포함)보호를 위한 보안시스템을 갖추어야 하며 개인정보취급방침을 공시하고 준수합니다.
        3. 회사는 회원으로부터 제기되는 의견이나 불만이 정당하다고 객관적으로 인정될 경우에는 적절한 절차를 거쳐 즉시 처리하여야 합니다. 다만, 즉시 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 통보하여야 합니다.

        제 22 조 (회원의 아이디(ID) 및 비밀번호에 대한 의무)
        1. 아이디(ID)와 비밀번호에 관한 관리책임은 회원에게 있으며, 이를 소홀히 하여 발생한 모든 민/형사상의 책임은 회원 자신에게 있습니다.
        2. 회원은 자신의 아이디(ID) 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
        3. 회원이 자신의 아이디(ID) 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 즉시 회사에 통보하고 회사의 조치가 있는 경우에는 그에 따라야 합니다.
        4. 회원이 제3항에 따른 통지를 하지 않거나 회사의 조치에 응하지 아니하여 발생하는 모든 불이익에 대한 책임은 회원에게 있습니다.

        제 23 조 (회원의 의무)
        1. 회원은 관련법령, 이 약관의 규정, 이용안내 등 회사가 통지하는 사항을 준수하여야 하며, 기타 회사 업무에 방해되는 행위를 하여서는 안됩니다.
        2. 회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.
        가. 서비스 신청 또는 변경시 허위내용의 등록
        나. 타인의 정보도용
        다. 사이트에 게시된 정보의 허가받지 않은 변경
        라. 회사가 정한 정보 이외의 정보(컴퓨터 프로그램 등)의 송신 또는 게시
        마. 회사 및 기타 제3자의 저작권 등 지식재산권에 대한 침해
        바. 회사 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
        사. 외설 또는 폭력적인 메시지?화상?음성 기타 공서양속에 반하는 정보를 회사에 공개 또는 게시하는 행위
        아. 회사의 동의 없이 영리를 목적으로 서비스를 사용하는 행위
        자. 기타 관련법령이나 회사에서 정한 규정에 위배되는 행위

        제 24 조 (회원의 게시물)
        1. 회원이 작성한 게시물에 대한 모든 권리 및 책임은 이를 게시한 회원에게 있으며, 회사는 회원이 게시하거나 등록하는 서비스의 내용물이 다음 각 항에 해당한다고 판단되는 경우에 사전통지
        가. 다른 회원 또는 제3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
        나. 공서양속에 위반되는 내용일 경우
        다. 범죄적 행위에 결부된다고 인정되는 경우
        라. 회사의 저작권, 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
        마. 회원이 사이트와 게시판에 음란물을 게재하거나 음란사이트를 링크하는 경우
        바. 회사로부터 사전 승인 받지 아니한 상업광고, 판촉내용을 게시하는 경우
        사. 해당 상품과 관련 없는 내용인 경우
        아. 정당한 사유 없이 당사의 영업을 방해하는 내용을 기재하는 경우
        자. 기타 관련법령에 위반된다고 판단되는 경우
        2. 이용계약이 해지(회원 탈퇴)된 이후 회원이 작성하였던 게시물 및 댓글 등은 삭제되지 않으며, 이용계약의 종료(회원 탈퇴)로 인하여 회원 정보가 삭제되어 작성자 본인을 확인할 수 없어 게시물 편집 및 삭제가 원천적으로 불가합니다. 회원이 작성한 게시물의 삭제를 원할 경우에는 이용계약의 해지 이전에 게시물을 모두 삭제하여야 합니다.

        제 25 조 (저작권의 귀속 및 이용제한)
        1. 회사가 작성한 저작물에 대한 저작권 및 기타 지식재산권은 회사에 귀속합니다.
        2. 회사는 서비스와 관련하여 회원에게 회사가 정한 이용조건에 따라 계정, ID, 콘텐츠 등을 이용할 수 있는 이용권만을 부여하며, 회원은 회사를 이용함으로써 얻은 정보를 회사의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 영리 목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
        3. 회원이 부정한 방법으로 캐시 및 포인트, 할인쿠폰을 획득한 사실이 확인될 경우 회사는 회원의 캐시 및 포인트, 할인쿠폰 회수, ID 삭제 및 형사고발 등 기타 조치를 취할 수 있습니다.
        제 26 조 (게시물의 관리)
        1. 회원의 게시물이 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 및 『저작권법』등 관련법령에 위반되는 내용을 포함하는 경우, 권리자는 관련법령이 정한 절차에 따라 해당 게시물의 게시중단 및 삭제 등을 요청할 수 있으며, 회사는 관련법령에 따라 조치를 취하여야 합니다.
        2. 회사는 전항에 따른 권리자의 요청이 없는 경우라도 권리침해가 인정될 만한 사유가 있거나 기타 회사 정책 및 관련법에 위반되는 경우에는 관련법에 따라 해당 게시물에 대해 임시조치 등을 취할 수 있습니다.
        3. 이 조에 따른 세부절차는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 및 『저작권법』이 규정한 범위 내에서 회사가 정한 게시중단요청서비스에 따릅니다. 게시중단요청서비스 : 02-741-9960

        제 27 조 (회사의 면책)
        1. 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스 제공에 관한 책임이 면제됩니다.
        2. 회사는 회원의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 지지 않습니다.
        3. 회사는 회원이 서비스를 이용하여 기대하는 수익을 상실한 것에 대하여 책임을 지지 않으며, 그 밖의 서비스를 통하여 얻은 자료로 인한 손해에 관하여 책임을 지지 않습니다.
        4. 회사는 회원이 게재한 정보, 자료, 사실의 신뢰도, 정확성 등 내용에 관해서는 책임을 지지 않습니다.
        5. 회사는 회원간 또는 회원과 제3자 상호간에 회사의 서비스를 매개로 하여 거래 등을 한 경우에는 책임이 면제됩니다.
        6. 회사는 무료로 제공되는 서비스 이용과 관련하여 관련법에 특별한 규정이 없는 한 책임을 지지 않습니다.
        제 28 조 (분쟁해결)
        1. 회사는 회원이 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위해서 피해보상처리기구를 설치, 운영합니다.
        2. 회사는 회원으로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 즉시 통보합니다.

        제 29 조 (준거법 및 관할법원)
        1. 이 약관의 해석 및 회사와 회원간의 분쟁에 대하여는 대한민국의 법률을 적용합니다.
        2. 이 약관 및 서비스 이용과 관련하여 회사와 회원 사이에 분쟁이 발생하여 소송이 제기되는 경우에는 『민사소송법』에 따라 관할법원을 정합니다.

        이 약관은 2016년 06월 20일부터 시행합니다.
     </div>
   </div>
</div>