<div class="wrap-contents">
					<p class="mt20">
						류마티스란용어는넓은의미의류마티스(류마티즘)와 좁은의미의 류마티스로<br>
						두종류의 의미가 있습니다.<br>
						일반적으로 류마티스라 하면 좁은 의미의 류마티스 관절염을 가리키지만,<br>
						류마티스관절염 환자는 인구 100명당 1명의 환자가 있어 <br>
						한국에 30만내지 50만으로추정되고 있습니다.
					</p>
					<p class="mt20">
						넓은 의미의 류마티스는 관절을 포함하여 근육이나 뼈에 통증이나 경직을 <br>
						일으키는 질병을 총칭 하는것 그 안에는 류마티스관절염, 퇴행성관절염, <br>
						강작성척추염,통풍천신성홍반성 루프스, 베체트병, 골다공증, 경피증, <br>
						피부근염-다발성근염소그렌증후근 등을 포함하여 100가지가 넘습니다.<br>
						퇴행성관절염은 60세이후에는 거의모든사람에게 생기는데 대부분증상이경하고,<br>
						그중일부에서 증상이 심하게 나타납니다.
					</p>
					<p class="mt20">
						류마티스 질환의 원인은 매우 다양하며 정확한 원인은 일려져 있지 않습니다.<br> 
						원인중 하나인 자가면역질환을 설명하면 몸속에는 우리몸을 지키는 역할을하는 <br> 
						여러가지 백혈구들이 외부에서 들에오는균이나 세균 같은 나쁜것 으로부터 <br> 
						우리몸을 보호하는작용을 하는데, 어떤 일수 없는 이유로 등을 돌려서 <br> 
						우리자신의 몸을 스스로 공격하기 때문에 생기는병입니다. <br> 
						즉 방어역활을 해야하는 면역체계가 자신의 신체조작을 공격하는 것입니다.
					</p>
					<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/about/overview_01.gif"  alt="기관지천식" /></span>
					<p class="mt60 h2 ctxt-005ca8">류마티스 관절염과 관절염의 차이로 알아보는 류마티스 </p>
					<p class="mt20">
						류마티스 관절염은 관절 내부를 싸고 있는 얇은막에 염증이 발생하여 활막이 두꺼워지고 관절 주변 조직과 연골 및 뼈에 <br> 
						손상을 일으켜서 결국에는 관절이 파과를 초래하는 질환입니다.
					</p>
					<table class="table mt20">
					<colgroup>
						<col width="50%" />
						<col width="50%" />
					</colgroup>
					<tbody>
					<tr>
						<th>류마티스성 관절염</th>
						<th>관절염 </th>
					</tr>
					<tr>
						<td>16세가 안되는 어린이나 절은 사람에게 잘 나타납니다.</td>
						<td>50세이상의 연령층이 잘 나타납니다.</td>
					</tr>
					<tr>
						<td>병이 시작될 때나 경과도중에 비교적 급성으로 관절이 아프고 
						부어오르는 수가 많습니다.</td>
						<td>골관절염은 그렇지 않습니다.</td>
					</tr>
					<tr>
						<td>손목, 팔꿈치, 어깨 등 몸무게를 지탱하지 않는 관절에서도 <br />흔히 나타납니다.</td>
						<td>무를이나 허리 등 무게를 많이 받는 부분에 잘 나타납니다.</td>
					</tr>
					<tr>
						<td>손등 가까이에 있는 손가락 관절에 생깁니다.</td>
						<td>손가락에 세마디 중에서 손톱 가까이에 있는 제일 끝의 관절에 
						나타납니다. 
						</td>
					</tr>
					<tr>
						<td>류마티스성 관절염은 변형된 뼈가 서로 마주 자라나오기 <br />때문에 골성 유합으로 공강직이 생길 수 있습니다.
						</td>
						<td>
							관절에 자라나는 변형된의 모습이 골관절염일때에는 서로 반대 방향으로 자라기 때문에 서로 유합되어 관절 강직을 일으킬 수 없습니다.
						</td>
					</tr>
					<tr>
						<td>류마티스성 관절염은 가지 특징이 나타날 수 있습니다. </td>
						<td>혈액검사에서 골관절염은 특별한것이 나타나지 않습니다.</td>
					</tr>
					</tbody>
					</table>

					<p class="mt20">
					류마티스성 관절염이 무서운것은 신체에 어떤부분의 관절이든 특별한 이유없이 감염 될수 있다는 점입니다.<br />
					콩팔,심장,순환기 계통등의 어떤 부위던지 류마티스 관절염으로 인해 나쁜 증상이 나타날수있습니다.
					</p>

					<p class="mt60 h2 ctxt-005ca8">류마티스 면역혈청학적 검사</p>
					<p class="mt20">
						<strong>
						류마티스 면역 혈청학적 검사는 류마티스질환의 예후를 예측하고 아형을 나누는데 도움이되며, 혈액검사로 <br />
						확인할수있습니다. 자가 항체가 양성으로 나오더라도 그것만 으로 절대적인 의미를 갖는것은 아니고 <br />
						기타검사와 환자의 임상증상등과 함께 정확한 해석이 필요합니다. 
						</strong>
					</p>
					<p class="mt20">
					알레르겐 특이 면역요법은 기관지천식, 알레르기비염, 벌독 알레르기 등 알레르기 질환의 유일한 근치요법으로<br />
					널리 사용되고 있습니다.<br /> 
					지금까지 알레르기 천식 및 비염의 치료에 월등한 효과가 있다고 보고되었습니다.  소아천식 환자에서는 <br />
					집 먼지 진드기 단독 면역요법이 다른 흡입성 항원에 대한 새로운 감작을 예방하는 효과가 있다고 보고 되었습니다.<br />
					알레르겐 특이 면역요법의 효과는 증상지수, 피부반응도, 혈청 내 특이 IgE 항체치, 기도과민성, 약물요구량 등을<br />
					지표로 하여 증명되는데, 비염 및 천식 환자에서 장기간의 면역요법 후 이들 지표가 호전 되었다는 다양한 보고가 있습니다.
					</p>
					<div class="txt-box mt20">
						<strong class="tit01">01 항핵 항체 검사(ANA, FANA)</strong>
						<p class="txt">
							혈청 내에 세포핵에 대한 자가항체가 있는지 확인하며, 루프스를 비롯한 자가면역질환 진단에 활용됩니다.<br> 
							항핵 항체검사가 양성일 경우 항DNA 항체검사, 혈청보체검사, 추출성 핵항원검사, 항인지질항체 등을 추가로 검사 실시 합니다
						</p>
						<strong class="tit01">02 항 DNA 항체검사</strong>
						<p class="txt">
							우리몸의 DNA에 대한 항체로 루프스일 가능성과 병의 활성도 핑가 지표로 치료에 대한 반응 핑가 자료로도 활용됩니다. 
						</p>
						<strong class="tit01">03 추출성 핵항원검사</strong>
						<p class="txt">
							추출성 핵항원검사에는 Sm, Ro, la, nRNP 등이 있으며, 여러 자가면역 질환의 감별질환에 활용됩니다.<br /> 
							또한 이는 항핵 항체 검사시 양성일 경우 실시하고, 이때Sm이 높으면 루프스에 대한 특이성이 높음을 판단할수있습니다.
						</p>
						<strong class="tit01">04 항 cardiolipin 항체검사 </strong>
						<p class="txt">
							항인지질 항체 증후군의 동반 가능성 및 혈액 응고 장애 유무 확인자료로 활용됩니다. 
						</p>
						<strong class="tit01">05 류마티스 인지 검사(Rheumatoid Factor Test)</strong>
						<p class="txt">
							류마티스 인자 검사는 다발성 관절염이 류마티스 관절염으로 의심될 때 활용되지만,<br /> 
							류마티스 인자가 양성이라고 해서 무조건 류마티스 관절염이라고 진단하지 않습니다
						</p>
						<strong class="tit01">06 항CCP항체검사</strong>
						<p class="txt">
							시트룰린화 타이드(cyclic citrullinated peptide:CCP)에 대한 항체 농도를 측정하는 것으로 <br />
							초기 류마티스 관절염 환자들에서 향후 질병 활성도를 예측하는데 도움이 되고, 류마티스 인자가 발견되지 않은 <br />
							류마티스 관절염 환자 감별 진단 등에 활용됩니다.
						</p>
					</div>
				</div>