<div class="txt-contents">
					<h4>위내시경 검사란?</h4> 
					<p class="txt">
						내시경을 입을 통해 식도로 삽입하여 위, 십이지장까지 관찰하며, 이상이 있는 경우 조직검사를 통해 진단하는 검사 방법이다.
					</p>
					<h4 class="mt40">종류</h4> 
					<p class="txt">
						일반 내시경은 깨어 있는 상태에서 내시경을 시행하게 되며, 수면 내시경의 경우 수면제 또는 마취제를 주사하여 졸리운 상태<br> 또는 얕은 잠에 취한 상태에서 내시경을 시행하는 것으로 검사가 끝나면 검사 시행 상황을 기억을 못하게 된다.
					</p>
					<h4 class="mt40">준비사항</h4> 
					<p class="txt">
						검사 전 8시간 이상 금식을 한 후 검사 직전 내시경 삽입에 따른 통증 경감을 위해 마취제를 목에 30초간 물고 있는 방법으로 목을<br> 국소 마취제(리도케인)로 마취한다. 
						정상적인 위 운동에 따른 움직임을 줄여 검사를 용이하게 하기 위해 위장관 운동 억제제<br> 주사(부스코판) 를 맞는다. 위 내 정상적으로 존재하는 거품과 가스를 제거하여 검사를 용이하게 하기 위해<br> 가스 제거제(시메차콘)를 복용한다.<br>
						수면 내시경의 경우 수면제를 주사로 투여한다.
					</p>
					<h4 class="mt40">주의사항</h4> 
					<p class="txt">
						검사 중 트림을 참아야 안전하고 편하게 검사를 시행 가능 검사 중 내시경을 통해 공기가 주입하여 위를 부풀여야 검사가 제대로<br> 이루어지므로 배에 가스 찬 느낌이 발생한다. 
						이는 검사를 위해 꼭 필요한 것이므로, 검사 중 트림을 참아야 안전하고 편하게<br> 검사를 시행할 수 있다. 검사 중 트림을 하게 되면 위가 부플린 상태가 유지되지 않아 검사가 제대로 이루어지기 어렵다.
					</p>
					<h4 class="mt40">치료질병</h4> 
					<p class="txt">
						식도염, 식도암, 위염, 위암, 위선종, 위출혈, 위궤양, 십이지장궤양
					</p>
				</div>