<h2 class="title"><span><em>오시는 길</em></span></h2>
<div class="location-box">
    <div class="shop">
        <div class="info">
            <h3>본점</h3>
            <p>인천시 중구 서해대로 190</p>
            <p>인천시 중구 신흥동 3가 49-6번지</p>
        </div>
        <div class="map"><img src="../asset/images/content/map_shop1.jpg" alt="710*480" /></div>
    </div>
    <div class="shop">
        <div class="info">
            <h3>지점</h3>
            <p>인천 중구 축항대로 296번길 146</p>
            <p>인전 중구 신흥동3가 65-16</p>
        </div>
        <div class="map"><img src="../asset/images/content/map_shop2.jpg" alt="710*480" /></div>
    </div>
</div>
