	<div class="txt-contents">
					<h4>관절통증이 2~3일 주기라면 재발성 류마티즘 의심</h4> 
					<p class="txt">
						관절에 갑작스런 통증이나타났다 사라졌다를 반복할 경우 혹시 재발성 류마티즘이 아닌지 의심해 봐야 합니다. 
						재발성 류마티즘은<br> 류마티즈 관절염으로 발전 할 수 있기 때문에 치료를 서둘러야 합니다.<br>
						일반류마티즘과는 달리 통증 부위가 매번 다르고 짧게는 2-3일 길게는 일주일 정도 지나면
						통증이 사라지는 특징이 있는데요<br> 보통 잘 생기는 부위는 손가락이나 손목, 무릎 그리고
						발목, 팔꿈치, 어깨 쪽을 돌아다니면서 반복적으로 통증을 호소하게 됩니다.<br>
						그리고 또 특이한 것이 이런 통증과 관절염과 관절 아무런 지장이 없는 특징이 있습니다.
						재발성 류마티즘은 인구 1000명당 1명 꼴로<br> 발생합니다.
						하지만 통증이 있을 때 말고는 x-ray나 혈액검사를 해도 이상 증상이 나타나지 않고 환자 본인도 불편함이 없기 때문에<br> 병을 찾아내기가 어려운데요.<br><br>
						 
						재발성 류마티즘은 통증 부위가 뜨거운 느낌이 들고 부종이 발생하며, 피부가 불게 변하기도 합니다.<br><br>

						하지만 많은 환자들이 재발성 류마티즘을 발생 부위와 통증까지 비슷한 통풍과 혼동하기도 합니다.
						통증이 생기는 부위는 주로 잘<br> 생기는 부위는 엄지발가락이라던지 발등, 발목쪽에 주로 많이 생기면서 점차 주로 위쪽으로
						올라오는 그런 경향을 보이는데 반해서<br> 재발성 류마티즘같은 경우에 있어서는 손가락 이나 손목쪽에 주로 상지 관절이 주로
						많이 침범을 하고 이것들이 점차 다른쪽,<br> 아래쪽으로 퍼져가는 그런 경향을 보인다는데 좀 차이가 있고요.
						재발성 류마티즘은 환자의 15%정도가 자연 치유됩니다.<br><br>

						하지만 환자의 3분의 1가량은 류마티스 관절염으로 악화되기 때문에 증상이 나타나면 서둘러 치료를 해야 합니다. 
					</p>
						<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh10.gif" alt="재발성 류마티즘" /></span>
				</div>