<div id="section"><!-- 내용 -->
  <h3><img src="/theme/corp-001/kr/images/company/h3_ceo.gif" alt="고객과 더불어 발전하는 기업" /></h3>
 <p class="mt30"><img src="/theme/corp-001/images/company/img_ceo.jpg" alt="" /></p>
 <dl class="ceo">
  <dt><img src="/theme/corp-001/kr/images/company/title_ceo.gif" alt="환경을 생각하고 준비하는 기업 (주)켐플러스" /></dt>
  <dd><img src="/theme/corp-001/kr/images/company/txt_ceo.gif" alt="급변하는 21세기의 정보화, 디지털산업에서 요구하는 각종 산업장비의 다양한 사양만족과 수입에 의존하던 각종 냉각장비를 자체의 기술력으로 국산화하여 최고의 제품군으로 향상시킴으로써 국내산업발전과 귀사의 생산성 향상에 일익을 담당하고 있습니다." /></dd>
 </dl>
</div>