<div class="txt-contents">
					<h4>구내염 정의</h4> 
					<p class="txt">
						구내염이란 세균, 바이러스, 곰팡이 등에 의한 감염으로 인해 입 안 점막(혀, 잇몸, 입술과 볼 안쪽 등)에 염증이 생기는 질환을<br> 말하는데, 발생 원인에 따라 다음과 같이 분류할 수 있다. 
					</p>
					<div class="txt-box">
						<strong class="tit01">재발성 아프타성 구내궤양(canker sore)</strong> 
						<p class="txt">
							입안에 궤양이 생기는 구내염으로, 정확한 원인은 알 수 없지만 면역체계의 이상이나 세균, 바이러스 감염에 의한 것으로 알려져 있다. 
							뜨거운 음식, 뺨과 혀의 상처 등이 원인이 되기도 하고, 피로와 스트레스, 알레르기 등에 의해 증세가 악화될 수 있다.
						</p>
						<strong class="tit01">헤르페스성 구내염(cold sore)</strong> 
						<p class="txt">
							헤르페스 바이러스에 의해 입 주변 얼굴에 발생하며 수포가 생기고 통증이 심하다. 
							성인이 되기 전에 잘 나타나며, 전염성이 있는 질환이다.
						</p>
						<strong class="tit01">편평태선(leukoplakia)</strong> 
						<p class="txt">
							세포의 과다 성장으로 인해 뺨, 잇몸, 혀에 두께운 햐안 조각이 생기는 구내염이며, 흡연자에게서 흔히 나타난다.
							잘 맞지 않는<br> 틀니를 사용하거나 뺨을 씹는 습관이 있는 경우에도 생길 수 있다. 종양으로 발전할 수도 있다.
						</p>
						<strong class="tit01">칸디다증(candidiasis)</strong> 
						<p class="txt">
							곰팡이 감염으로 인해 생긴다. 틀니를 사용하거나 소모성 질환 또는 면역질환을 앓고 있는 경우 잘 발생하는데, 특히<br> 어린아이에게서 흔히 발병한다. 
							구강 건조증이 있는 사람이나 항생제 복용 후에 일어나기도 한다.
							이 외에도 감염 경로를<br> 기준으로 분류할 수 있는데, 세균 감염, 진균 감염(곰팡이균), 바이러스 감염 등의 감염성 구강점막 질환과 재발성 아프타성<br> 구내궤양, 유천포창, 천포창 등의 면역성 구강점막 질환, 
							그리고 혀 표면의 갈라짐, 양성 이동성 설염, 위측성 설염 등의<br> 혀 점막의 질환으로 나누어 볼 수 있다.
						</p>
					</div>
					<h4 class="mt40">구내염 증상</h4>
					<p class="txt">
						구강점막 질환에 걸린 경우 입 안이 따갑거나 화끈거리는 느낌이 들고, 음식을 먹을 때 통증을 호소하게 되며, 입 안에서 남새가<br> 나므로 불쾌한 느낌을 갖게 된다. 
						이러한 증상은 지속적으로 나타나기도 하지만 증상의 악화와 완화가 반복되기도 한다.<br>
						종류에 따라 피부병과 같은 증상이 나타나기도 하며, 때로는 정확한 진단을 위해서 조직검사가 필요한 경우도 있다. 
					</p>
					<div class="txt-box">
						<strong class="tit01">재발성 아프타성 구내궤양</strong> 
						<p class="txt">
							염증이 있는 빨간색 둘레를 가진 흰색 궤양이 나타나고, 궤양 부위에서 간지럽고 불타는 듯한 감각을 느낄 수 있으며 자극시<br> 통증이 발생한다.
						</p>
						<strong class="tit01">헤르페스성 구내염</strong> 
						<p class="txt">
							입 주변에 물집(blister)이 잡하고 작열감(타는 듯한 느낌)을 느낀다.
						</p>
						<strong class="tit01">편평태선</strong> 
						<p class="txt">
							특별한 증상은 없다.
						</p>
						<strong class="tit01">칸디다증</strong> 
						<p class="txt">
							가렵고 작열감이 느껴지고 쓰리다.
						</p>
					</div>
					<h4 class="mt40">예방방법</h4>
					<div class="txt-contents">
						<ul class="mt20">
							<li class="mt10">견과류, 과자류, 짜고 맵고 신 자극이 강한 음식은 구강점막을 자극하므로 피한다.</li>
							<li class="mt10">건강한 음식을 선택한다.</li>
							<li class="mt10">말을 하면서 씹어먹지 않는다.</li>
							<li class="mt10">구강 청결을 유지한다.</li>
							<li class="mt10">교정 장치나 치과 장치의 날카로운 부분이 입안을 자극할 때에는 치아를 덮을 수 있는 왁스를 사용한다.</li>
							<li class="mt10">정기적으로 스케일링을 받는다.</li>
							<li class="mt10">구강 양치액을 사용한다.</li>
						</ul>
					</div>
				</div>