	<div class="txt-contents">
					<h4>쇼그렌 증후군의 증상</h4> 
					<p class="txt">
						쇼그렌 증후군은 이름도 생소하다. 눈이 건조하다거나 입에 침이 마른다거나 하는 증상도<br> 익숙하다. 
						그러나 쇼그렌 증후군은 류마티스와 같은 자가면역 질환으로 완치가 어려운<br> 만성질환이다.
						인종을 불문하고 40~50세 여성들이 많이 걸린다. 
						만일 유난히 건조함이<br> 느껴진다면 쇼그렌 증후군을 의심해 보아야 한다. 
						쇼그렌 증후군은 진단이 어렵고 증상이<br> 나타났다 좋아지기를 반복하는 경우가 많아 쇼그렌 증후군이 있더라도 그다지 어려움을<br> 느끼지 못하는 경우도 있지만 쇼그렌 증후군이 진행중에 있다면
						다른 쪽 장기로 전이되는<br> 경우가 생기기 때문이다.
						쇼그렌 증후군은 폐나 신장, 뇌, 질 등으로 전이가 가능하다.<br> 
						또한, 눈이 건조하기만 한 것이 아니라 눈이 충혈되고 박테리아성 결막염, 각막 손상 더<br> 나아가서는 눈을 망가 뜨릴 수 있다.
						시력 손실이 될 수도 있다는 것이다. 
						<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh09.gif" alt="쇼그렌 증후군" /></span>
					</p> 
					<p class="txt">
						구강건조증의 경우도 마찬가지다. 
						침이 마르면서 충치와 치주 질환이 생기고 치열이<br> 불규칙해지며 침샘에 돌이 생기고 구간애 곰팡이가 생길 수 있다. 
						또한, 혀 뒤쪽의<br> 림프조직이 커지는증상이 올 수 있고 혀가 갈라지거나 식도가 상해 음식을 먹거나<br> 침을 삼킬 때마다 고통이 생기게 된다.
						이처럼 고통스럽고 치료가 힘든 병이지만<br> 아직까지 쇼그렌 증후군의 원인이 밝혀지고 있지 않다.
						때문에 만성질환인<br> 쇼그렌 증후군은 무엇보다 초기 치료가 중요하다.
						자꾸 눈물이 말라 눈이 건조하고<br> 입이 마르는 증상이 수일간 지속된다면 가까운 류마티스 내과를 방문해서<br> 쇼그렌 증후군 진단을 받아보길 바란다. 
					</p>
				</div>