 <div class="faq-section">
                <h2 class="tit-ty1"><p class="in-box">FAQ.</p></h2>
                <div class="in-box">
                    <div class="intro">
                        <p>Q&A에서 필요한 답변을 보다 빠르게 확인하실 수 있습니다.</p>
                        <p>
                            <span>원하시는 답변이 없을 경우 1:1문의를 이용하거나 02-741-9960으로 전화 주시면 답변해드리겠습니다.</span>
                            <a href="#" class="btn ty7 flip"><span class="front">1:1문의</span><span class="back">1:1문의</span></a>
                        </p>
                        <p>(월-금, 10:00-06:00)</p>

                    </div>
                    <div class="tab-box active">
                        <ul>
                            <li><a href="#toggle1">폰트</a></li>
                            <li><a href="#toggle2">저작권</a></li>
                            <li><a href="#toggle3">구매/환불</a></li>
                            <li><a href="#toggle4">회원관리</a></li>
                        </ul>
                    </div>

                    <div class="toggle-box" id="toggle1">
                        <dl>
                            <dt><a href="#"><span>Q.</span>윈도우용과 매킨토시용 폰트의 차이가 무엇인가요?</a></dt>
                            <dd><span>A.</span>폰트는 운영체제마다 폰트에 들어가는 정보 값을 각각 다른 방법으로 인식합니다.<br />오류를 미리 방지하기 위해 윈도우용과 매킨토시용을 나눠서 운영체제에 알맞는 정보 값을 입력해 제작합니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>TTF와 OTF의  기능과 차이가 무엇인가요?</a></dt>
                            <dd><span>A.</span>TTF는 TrueType Font의 줄임말로 마이크로소프트사와 애플사가 협력하여 만든 폰트의 한 종류입니다. 웹이나 일반 사용자가 쓰기에 적합하며, 웹에서 유용한 힌팅과 같은 내부 명령들을 자유롭게 구성해 넣을 수 있습니다. OTF는 Open Type Font의 줄임말로 어도비사가 윈도우 환경에 포스트스크립트 환경을 심기 위해서 마이크로소프트사와 트루타입 폰트의 내부에 포스트스크립트 폰트를 넣는 형식을 말합니다.<br />주로 고품질 인쇄용으로 제작되며, 트루타입 폰트에 비해 고퀄리티의 인쇄물을 얻을 수 있습니다.<br />또한 다양한 오픈타입 기능(합자, 커닝 등)을 추가할 수 있습니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>컴퓨터 포맷으로 폰트가 유실되었습니다. 다시 다운받을 수 있나요?</a></dt>
                            <dd><span>A.</span>컴퓨터가 포맷되어 폰트가 유실했을 경우, 로그인 후 나의정보에서 재다운로드(3회) 받을 수 있습니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>구매한 폰트를 다른 컴퓨터에 설치가 가능한가요?</a></dt>
                            <dd><span>A.</span>폰트는 1개의 운영체제에 한해서 다운로드 받을 수 있으며, 여러 대의 컴퓨터에 중복 설치할 수 없습니다.  폰트를 유실했을 경우에는 로그인 후 나의정보에서 재다운로드(3회) 받을 수 있습니다.</dd>
                        </dl>
                    </div>
                    <div class="toggle-box" id="toggle2">
                        <dl>
                            <dt><a href="#"><span>Q.</span>저작권(라이센스) 정책을 알고 싶습니다.</a></dt>
                            <dd><span>A.</span>타이포랩 폰트는 ‘데스크톱 desktop’ 라이선스를 구매하여 인쇄물 제작, 이미지 제작, 일반 문서 작성 용도로 쓸 수 있습니다.<br />그밖에 (웹 web / 애플리케이션 application / 전자책 e-book / 특정 용도 라이선스 customize license) 등 별도 구매 문의는 info@typolab.co.kr로 메일을 보내주시거나, 02.741.9965로 전화를 부탁드립니다. (월-금, 10:00-06:00)</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>폰트의 사용기간이 어떻게 되나요?</a></dt>
                            <dd><span>A.</span>타이포랩의 폰트는 기간과 무관하며, 다운로드 3회로 제한하고 있습니다. 3회 이상 다운로드 사용 후에도 사용하고자 하실 경우 재구매를 하셔야 합니다. (관련문의 :info@typolab.co.kr / 02-741-9960)</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>타 사이트에서 타이포랩 폰트를 무료로 다운받았습니다. 불법인가요?</a></dt>
                            <dd><span>A.</span>타이포랩 폰트는 typolab.com과 폰트클럽(<a href="http://www.fontclub.co.kr">www.fontclub.co.kr</a>)에서만 판매되고 있습니다.그 외에 타 사이트에서 무료로 다운받는 것은 불법이며 민형사상 책임을 질 수 있습니다.</dd>
                        </dl>
                    </div>
                    <div class="toggle-box" id="toggle3">
                        <dl>
                            <dt><a href="#"><span>Q.</span>회원가입을 해야 폰트를 구입할 수 있나요?</a></dt>
                            <dd><span>A.</span>타이포랩 폰트는 온라인 다운로드를 통한 판매가 이루어지므로 회원가입 후 글꼴을 구매하도록 되어 있습니다. 회원가입은 무료로 이루어지고 있으며, 이메일 계정 및 간단한 정보 입력 후 가입이 가능합니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>구매한 폰트는 계속해서 다운로드 받을 수 있나요?</a></dt>
                            <dd><span>A.</span>컴퓨터 포맷 등의 폰트 유실에 한해서 추가 다운로드를 허용하며, 최대 5회까지 재설치가 가능합니다.여러대의 컴퓨터에서 중복 설치는 할 수 없습니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>해외에서 구매가 가능한가요?</a></dt>
                            <dd><span>A.</span>타이포랩의 모든 폰트는 국내, 해외에서 모두 구매가 가능합니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>주문 전에 견적서를 받아볼 수 있나요?</a></dt>
                            <dd><span>A.</span>주문 전 <a href="mailto:info@ typolab.co.kr">info@ typolab.co.kr</a>으로 견적서를 요청해 주시면메일로 1-2일내 견적서를 발송해 드립니다. 요청시 입력해야 하는 내용은 다음과 같습니다.(관련문의 : 02-741-9960)<br />- 회사이름, 담당자, 전화번호, 주소, 이메일 주소<br />- 주문하고자 하는 제품목록 / 수량  / 사용목적</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>구매한 폰트를 환불하고 싶은데 어떻게 하면 되나요?</a></dt>
                            <dd><span>A.</span>다운로드 전 상태인 경우와 제품에 하자가 있는 경우에는 환불이 가능합니다.<br />폰트를 다운로드 받으신 경우에는 환불이 불가합니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>구매한 폰트는 오프라인으로 배송받을 수 있나요?</a></dt>
                            <dd><span>A.</span>타이포랩은 온라인 다운로드 방식으로만 폰트를 판매하고 있습니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>세금계산서는 어떻게 발급받나요?</a></dt>
                            <dd><span>A.</span>기업회원에 한해서 세금계산서를 발급해드리고 있습니다. 사이트 로그인 후 나의 정보에서 다운로드 받을 수 있습니다. 다운로드 기간은 구입 후 30일 이내 입니다.</dd>
                        </dl>
                    </div>
                    <div class="toggle-box" id="toggle4">
                        <dl>
                            <dt><a href="#"><span>Q.</span>개인회원과 기업회원의 차이점이 무엇인가요?</a></dt>
                            <dd><span>A.</span>기업회원과 개인회원폰트를 구매 및 사용에는 차이가 없습니다. 다만, 기업(사업장)에서 개인회원 ID를 이용하여 폰트를 구매 및 사용하실 경우 향후 사용내역 및 관리에 문제가 발생할 수 있습니다. 또한, 세금계산서는 기업회원으로만 발행되오니 기업(사업장)에서 폰트를 구매시, 기업회원으로 가입을 권해드립니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>기업회원의 업체정보가 변경되었습니다.</a></dt>
                            <dd><span>A.</span>기업회원의 사업자번호를 제외한 나머지 부분만 정정된 사업자등록증을 보내주시면 변경이 가능합니다. 사업자번호가 변경된 경우, 신규로 기업회원 가입해주셔야 합니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>로그인이 되지 않습니다.</a></dt>
                            <dd><span>A.</span>쿠키 삭제, 파일 삭제 처리를 통해 해결할 수 있습니다.<br />터넷 도구 &lt; 인터넷 옵션 &lt; 일반 탭 &lt; 쿠키 삭제, 파일 삭제를 차례로 클릭하여 이전 내용을 삭제 후 열려있는 모든 인터넷 창을 닫고 새창을 열어 주소창에 www.typolab.co.kr로 재접속 후 다시 로그인합니다.<br />위의 과정을 통해서도 로그인이 되지 않는 경우 <a href="mailto:info@ typolab.co.kr">info@ typolab.co.kr</a>로 문의해주시기 바랍니다.</dd>
                        </dl>
                        <dl>
                            <dt><a href="#"><span>Q.</span>아이디 변경이 가능한가요?</a></dt>
                            <dd><span>A.</span>타이포랩의 아이디는 본인의 이메일로 가입되어 추후 변경이 불가능합니다. <br />폰트 구매내역이 구매한 아이디(이메일)에 귀속되기 때문에 다른 아이디로 변경, 이동이 어렵습니다.</dd>
                        </dl>
                    </div>
                </div>
            </div>