<div class="license-section">
  <h2 class="tit-ty2"><p class="in-box">라이센스 정책.</p></h2>
  <div class="in-box">
    <div class="btns ty2">
      <a href="#" class="btn ty3 flip"><span class="front">라이센스정책 PDF</span><span class="back">라이센스정책 PDF</span></a>
      <a href="#" class="btn ty3 flip"><span class="front">관련 문의</span><span class="back">관련 문의</span></a>
    </div>
    
    <h3>㈜박윤정앤타이포랩 서체 라이선스 규정</h3>
    <dl>
      <dt>1차 라이선스</dt>
      <dd>- 인쇄, 출판물 제작(도서, 잡지, 신문, 판매/ 홍보/판촉용 각종 인쇄물 등)</dd>
      <dd>- 일반문서, 서식 제작(사내 프리젠테이션, 단체 내부 문서, 무료 배포 공문 서식, 단체 내부문서 등)</dd>
      <dd>- CI, BI 용(로고, 슬로건, 브랜드 등)</dd>
      <dd>- 옥외 광고물용(버스, 지하철 내부 광고, 대형 간판, 프렌차이즈 간판)</dd>
      <dd>- 웹사이트 웹이미지 적용(배너 광고, 웹진, 웹툰, 웹페이지 이미지 제작)</dd>
    </dl>
    <dl>
      <dt>2차 라이선스(*별도 계약 후 사용 가능)</dt>
      <dd>- e-book, e-learning 제작</dd>
      <dd>- 모바일 app 제작(어플리케이션 GUI적용)</dd>
      <dd>- 온라인 PC, 게임용(채팅용, 게임 내 UI적용)</dd>
      <dd>- 각종 영상물 제작(공중파 및 케이블 TV자막, TV-CF 온라인 광고, 영화예고 오프닝 자막, 동영상 배너 광고)</dd>
      <dd>- 각종 디지털 디바이스 임베딩용(디지털 기기 폰트 파일 탑재)</dd>
      <dd>- 각종 제품 패키지 적용</dd>
      <dd>- 2차 제작물용(직접 판매 목적의 이미지 제작, 티셔츠, 생활용품, PT템플릿, 컨텐츠 상품, 각종 온, 오프라인 상품)</dd>
    </dl>
    <p class="pointC-ty2">* 본 라이선스 정책은 스토어 내 일반상품(낱개폰트)에 해당됩니다.</p>
    <p class="pointC-ty2">* 기업 라이선스 문의, 기타 별도 문의는 02-741-9960으로 연락 주십시오.</p>
  </div>
</div>