<div class="txt-contents">
					<h4>베체트병 정의</h4> 
					<p class="txt">
						1937년 처음으로 개념이 정립된 베체트병은 아직도 원인이 불분명한 만성 피부궤양성<br>
						질환으로 유전적 소인, 바이러스 원인설, 면역질환 원인설 등으로 의견들이 나오고 있다.<br>
						베체트병의 가장 대표적인 증상은 구강궤양과 안구에서 발생하는 포도막염, 망막혈관염<br>인데, 구강궤양은 전체 환자의 97%가량에서 관찰되는 가장 대표적인 증상이다.<br><br>

						거의 모든 베체트병 환자에게서 입안이 허는 증상이 발생하는데, 그 크기는 처음에는 1cm<br> 미만으로 혀나 잇몸, 입천장 등 입 안 어느 부위에나 생길 수 있으며 중요한 것은 자주 재발<br> 된다는 점이다. 
						물론 한 번 입 안이 헐었다고 베체트병이라고 할 수는 없지만, 한 달에 한 번<br> 이상 자주 발생한다면 의심을 해 봐야 한다.<br><br>

						<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh07.gif" alt="베체트병" /></span>
					</p>
					<div class="txt-box mt20">
						<strong class="tit01">01 구강 궤양</strong> 
						<p class="txt">
							대부분의 환자에서 가장 먼저 나타나는 증상으로 입안이나 입술, 등에 발적이 생긴다.
						</p>
						<strong class="tit01">02 음부 궤양</strong> 
						<div class="txt">
							환자의 70%정도에서 발생하고, 주로 구강 궤양이 발생한 후에 생긴다.<br> 
							구강 궤양보다 크고 깊으며 오래 지속되고 종종 흥터를 남기면서 치유된다. 남녀 모두 성기 부분에 발생한다.
						</div>
						<strong class="tit01">03 피부 증상</strong> 
						<p class="txt">
							남 녀 증상의 약간의 차이가 있으나 여드름 모양의 결절이 얼굴의 비롯한 목과 둔부 등에 생겼다가 수주 후 사라진다.<br>  
							질병의 활동성에 따라 재발하게 된다.
						</p>
						<strong class="tit01">04 페설지 반응</strong> 
						<p class="txt">
							피부자극에 대한 비특이적인 과민반응으로, 피부뿐 아니라 다른 부위에서도 볼 수 있다.<br>
							술 후 수술 부위의 궤양이 합병증으로 나타나는 것도 페설지 반응의 일종이다.
						</p>
						<strong class="tit01">05 안구 증상</strong> 
						<p class="txt">
							우리나라의 베체트병 환자의 경우 외국에 비해 안구가 침범되는 빈도가 적어 20~30% 안구 증상이 나타난다.<br>
							병적인 증상은 포도막과 망막에 발생하며, 적극적인 치료를 하지 않을 경우 시력에 장애를 주는 합병증이 생기거나<br> 실명 할 수 있다.
						</p>
						<strong class="tit01">06 관절염</strong> 
						<p class="txt">
							무릎, 발목, 손 관절에서 잘 발생하며, 대부분일시적이고, 변형이나 골 파과는 잘 일어나지 않는다.
						</p>
						<strong class="tit01">07 기타 장기의 침범</strong> 
						<p class="txt">
							우리나라와 일본의 베체트병 환자에서는 위장관의 궤양이 비교적 흔하게 발생하며, 복통이나 설사, 혈변 등의 증상으로<br> 나타난다. 
							또한 각종 혈관염, 중추 신경계 질환도 나타나는데, 일부에서는 중추 신경계 침범이 베체트병의 다른 증상보다<br> 먼저 나타날 수 있다. 그 밖에 폐, 신장의 침범도 발생할 수 있다.
						</p>
					</div>
					<h4 class="mt40">베체트병의 자가진단표</h4>
					<p class="txt_1">(해당하면 1점, 해당하지 않으면 0점)</p>
					<div class="box-txt mt20">
						<ul>
							<li class="mt10">01. 입안에 입병이 일년에 세 번이상 생긴다.</li>
							<li class="mt10">02. 입병이 생기듯이 성기부위에도 입병모양의 하얀 궤양이 생긴다.</li>
							<li class="mt10">03. 피부에 반점이 돋는다.</li>
							<li class="mt10">04. 사춘기도 아닌데 얼굴이나 등 부위에 여드름모양의 피부병이 생긴다.</li>
							<li class="mt10">05. 다리부위에 빨갈게 반점이 돋고 누르면 심하게 아프다가 피부색이 변하며 낫는다.</li>
							<li class="mt10">06. 털이 나는 부위에 고름이 앉으면서 염증이 생긴다.</li>
							<li class="mt10">07. 눈이 심하게 충혈되고 앞이 뿌옇던 적이 있다.</li>
							<li class="mt10">08. 포도막염이라고 안과에서 얘기를 들었던 적이 있다.</li>
							<li class="mt10">09. 배가 아픈 적이 요 근래 자주 있다.</li>
							<li class="mt10">10. 배가 아픈 부위가 우 하복부이며, 변의 색이 혈변인 적이 있다.</li>
							<li class="mt10">11. 위, 대장 내시경에서 궤양이 있다고 얘기 들은 적이 있다.</li>
							<li class="mt10">12. 피를 뽑거나 바늘이 찔린 부위가 빨갛게 되고 물집이 잡한다.</li>
							<li class="mt10">13. 상처가 잘 낫지 않는다.</li>
							<li class="mt10">14. 관절이 여기저기 돌아다니면서 아프다.</li>
							<li class="mt10">15. 관절 주위가 빨갛게 되면서 심하게 아픈 적이 있다.</li>
							<li class="mt10">16. 모호하게 피곤하면서 입병이날 때 열감이 있는 적이 있다.</li><br>
						</ul>
					</div>
						<p class="txt">
							10점 이상 베체트병 확를 = 80%이상,&nbsp;&nbsp;5~9점 베체트병 확를 = 50%이상,&nbsp;&nbsp;5점 이하 베체트병 확를 = 10%이하
						</p>
				</div>