<div class="wrap-contents">
					<div class="member">
						<h2>류마내과원장 배영덕</h2>
						<dl class="left">
							<dt>
								<p class="photo"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/about/member01.jpg" alt="배영덕"></p>
								<p class="photo-txt tac">
									여러분의 건강주치의로 늘 곁에 있겠습니다<br>
									감사합니다
								</p>
							</dt>
							<dd>
								<ul>
									<li>현)류마내과 네트워크  대표원장</li>
									<li>University of Minnesota Hosp.(Fairview Hosp.) </li>
                                  <li>Internal medicine-Preliminary<br/> (Univ. of Minnesota sponsored visa as J1) </li>
									<li>Seoul National University Hosp. </li>
									<li>Division of Rheumatology. Internal Medicine</li>
									<li>Korean Red CrOSSBlood Center Laboratory</li>
									<li>Medical Supervisor</li>
									<li>Hallym university Kangdong Sacred Heart Hosp.</li>
									<li>Rheumatology Internal Medicine</li>
									<li>Assistant Professor</li>
								</ul>
							</dd>
						</dl>
					</div>
					<div class="member mt80">
						<h2>류매내과부원장 오승현</h2>
						<dl class="right">
							<dt>
								<p class="photo"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/about/member02.jpg" alt="오승현"></p>
								<p class="photo-txt tac">
									여러분의 건강주치의로 늘 곁에 있겠습니다<br>
									감사합니다
								</p>
							</dt>
							<dd>
								<ul>
									<li>(현)류마내과 네트워크 강동점 원장</li>
									<li>(전)한림대학교 강동성심병원 내과 교수</li>
									<li>(전)한림대학교 수련 교육부장</li>
									<li>서울대학교 병원 임상강사</li>
									<li>서울대학교 병원 내과 의국원</li>
									<li>미국 미네소타 대학 병원 수련의</li>
									<li>미국 의사 자격 취득</li>
									<li>대한적십자 혈액원 실장</li>
									<li>대한 내과 학회 정회원</li>
									<li>대한 정형외과 학회 정회원</li>
									<li>한국 류마티스 학회 정회원</li>
									<li>미국 골관절염 학회 정회원</li>
									<li>​미국 ACR 정회원</li>
									<li>EULAR 유럽 류마티스 정회원</li>
									<li>대한 골 관절염 학회 정회원</li>

								</ul>
							</dd>
						</dl>
					</div>
				</div>