<div class="txt-contents">
					<h4>섬유근육통 증상</h4> 
					<p class="txt">
						류마티스 다발성 근통은 50세 이상의 연령에서 목, 어깨, 위쪽 팔, 엉덩관절,<br> 허벅지 등의 부위에 대칭적으로 통증과 아침에 30분 이상 지속되는 뻣뻣함이<br> 적어도 한 달 이상 계속될 때 진단할 수 있습니다. 
						무력감, 체중감소, 땀, 미열등과<br> 같은 전신 염증의 징후를 동반 할 수 있습니다.<br><br>

						대부분의 환자들에서 염증 수치인 ESR과 CRP가 상승되어 있는 것으로 다른<br> 통증 증후군과의 구분 할 수 있습니다.
						이 질환의 질병 특유 검사는 없지만, 비슷한<br> 증상을 보이는 다른 질환은 꼭 배제 되어야 합니다.<br><br>
						
						류마티스 다발성 근통과 연관된 전신 염증 정후는 스테로이드 치료에 잘 반응하며<br> 치료 후 임상 증상이 매우 빨리 좋아지는 특징이 있기 때문입니다.<br>
						이 질환의 특징은 큰 동맥을 침범하는 거대세포 동맥염(측두동맥염)과 밀접하게<br> 연관되어 있습니다.<br> 
						류마티스 다발성 근통은 거대세포 동맥염이 혈관염으로 충분히 발현되기<br> 전단계라고 생각되기도 하는데, 혈관벽에 염증이 있으면, 류마티스 다발성 근통의<br> 진단은 무효화 되고 거대세포 동맥염이라고 진단됩니다. <br><br><br>

						<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh08.gif" alt="섬유근육통" /></span>
					</p>
					<h4>섬유근육통 원인</h4> 
					<p class="txt">
						류마티스 다발성 근통은 여성에서 남성보다 흔하고, 50세 이전의 연령에서는 드물고 주로 노인들에게 나타납니다. 류마티스 다발성<br> 근통 환자들은 목, 어깨, 위쪽 팔, 엉덩관절, 허벅지 등의 부위에 대칭적인 통증을 호소합니다.
						대개 아급성 또는 만성적으로 시작되고,<br> 30분 이상 자속되는 조조강직이 있습니다.<br><br>
						환자들은 어깨와 엉덩관절의 뻣뻣함으로 인해 활동의 어려움을 경험하는데, 브래지어를 채울 때, 셔츠나 자켓을 입을때, 스타킹을<br> 신을 때 어려움이 있습니다.
						체중감소, 식욕부진, 권태, 우을증을 호소 하기도 합니다. 발열과 오한은 거대세포 동맥염으로 발전하는<br> 것을 의심해야 합니다.
						손, 손목, 발목, 발등에 부기와 함요 부종이 올 수 있습니다.<br>
						활막염과 점액낭 염이 올 수 있는데, 이는 관절의 불편과 강직의 원인이 됩니다.<br><br>
					</p>
					<h4>섬유근육통 치료</h4> 
					<p class="txt">
						류마티스 다발성 근통은 글루코코티코이드 치료에 잘 반응합니다.
						환자가 치료에 잘 반응하면 글루코코티코이드의 양을 점차 줄여가게<br> 됩니다.
						다른 약제의 스테로이드 감량 효과는 입증되지 않았습니다.
						장기간 스테로이드를 사용하는 경우는 골다공증 예방 등을 위해<br> 칼슘과 비타민D 보충 등이 필요합니다.
					</p>
				</div>