<div class="txt-contents">
					<h4>강직성 척추염 원인</h4> 
					<p class="txt">
						직성 척추염이란 척추를 침범하는 관절염의 일종으로, 많은 경우에서 등이 뻣뻣해지는 결과를 초래하게 됩니다.<br>
						강작성 척추염의 원인은 아직 잘 알려져 있지 않으나, 유전 또는 혈연관계와 관계가 깊은 것으로 밝혀져 있습니다.<br>
						대부분의 강직성 척추염 환자들에게는 독특한 유전적 표지가 있습니다.<br><br>

						유전적 표지라고 하는 것은 백혈구 세포의 표면에 있는 단백질 분자입니다.
						이 표지가 있다고 하여 모두다 발병하는 것은<br> 아니지만 표지가 없는 사람보다는 발병할 가능성이 높습니다.<br>
						이 질환은 대개 나이가 16세에서 35세 사이의 남성에서 잘 나타납니다.<br><br>
						
						여성에게서는 대부분 증상이 가볍게 나타나 쉽게 알 수가 없습니다. 약 5%의 환자는 소년시절에 발병합니다.
						허리 아래 부분과<br> 엉덩이 부위에 통증이 많이 나타나며, 밤에 그리고 휴식 후 증상이 더 심해집니다. 
						또한 아침에 일어났을 때 질환에 영향을 받은<br> 곳의 관절이 뻣뻣해지며, 일부 사례에선, 갈비뼈와 척추가 연결된 관절에 이상이 생겨 숨을 크게 쉴 때 가슴을 팽창시키기가<br> 어렵습니다.<br><br> 
					</p>
					<h4>강직성 척추염 증상</h4>
					<p class="txt">
						척추, 관절 그리고 다른 기관의 염증과 관련이 있습니다.
						척추의 염증은 등의 하단부, 엉덩이 윗부분, 목, 척추의 나머지 부분에서<br> 통증과 경직을 유발하며, 수개월에 걸쳐 점진적으로 악화됩니다. 
						그러나 간혹 초기발병이 신속하고 격렬하게 나타나기도 합니다.<br>
						통증이나 경직의 증상은 아침이나 장기간 활동하지 않는 후에 심하게 나타나며, 운동이나 찜질 또는 온수 샤워로 가벼워지기도<br> 합니다. 
						따라서 청소년기 환자의 경우에는 강직성 척추염의 시작을 가벼운 운동 손상으로 오인하게 되는 경우가 많습니다.<br><br>

						만성적이고 심한 척추염증 환자는 척추의 완전한 뼈융합(척추강직)으로 발전 할 수 있습니다. 
						일단 융합이 되면 척추통증은<br> 사라지지만 척추의 운동성은 완전히 상실됩니다. 이렇게 융합된 척추는 사고나 외상으로 부서지거나 파열되기 쉽습니다.<br>
						따라서 이런 환자의 갑작스런 척추부위 통증은 뼈의 파열을 의미하는 것 일 수 있습니다.
						특히 목부분의 경부척추가 이런 파열이<br> 일어나기 쉬운 부위입니다.<br><br>
						
						만성척추염과 척추강작은 상체가 앞으로 굽는 원인이 되며, 척추염은 척추 윗부분에 연결된 늑골부위에 영향을 주어 폐 기능을<br> 제한하기도 합니다. 
						또한 강작성 척추염은 염증과 함께 폐에 상처를 입히고 기침을 유발하며 운동과 감염 시 숨이 차는 원인이<br> 됩니다. 
						이처럼 호흡곤란은 강직성 척추염의 심각한 합병증 일 수도 있습니다. 또한 홍채염 등의 합병증이 올 수 있습니다. 
					</p> 
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh01.gif" class="mt10" alt="척추염" /></center>
				</div>