<div class="txt-contents">
					<h4>루프스란?</h4> 
					<p class="txt">
						루프스라는 질병을 처음 들어보는 사람들이 많다. 그러나 루프스는 천의 얼굴을 가진 질병이라 부를 만큼 많은 질환을 보이며 다양한<br> 증상으로 나타난다.
						루프스의 가장 흔한 증상으로는 열이 나고 심한 피로감을 느끼며 관절이 붓고 통증이 나타난다.<br>
						또한, 루프스를 확인 할 수 있는 특징으로는 얼굴 양쪽 뺨에 나비 모양의 홍반이 나타난다.
						이러한 증상이 나타나면 루프스를 의심해<br> 보아야 하는데 만일 루프스를 방치하게 되면 다양한 증상의 전신질환으로 확대되는 경우가 많다. 
					</p>
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh03.gif" class="mt10" alt="루프스" /></center>
					<h4 class="mt40">루프스 증상</h4>
					<div class="txt-contents">
						<ul class="mt10">
							<li class="mt10">양쪽 뺨에 비롯한 전신에 홍반이 나타난다.</li>
							<li class="mt10">햇빛을 쬐면 홍반의 증상이 심해지고 빈혈이 생기기도 하여 햇빛 알러지로 착각 할 수 있다.</li>
							<li class="mt10">스트레스가 쌓이거나 찬 물이나 바람을 쐬면 손발이 하얗게 창백해진다.</li>
							<li class="mt10">소변을 통해 단백질이 과다 배출된다.</li>
							<li class="mt10">심장 판막증이나 심낭염을 일으키기도 한다.</li>
							<li class="mt10">임파절이 붓고 폐에 늑막염이나 폐섬유증이 나타나며 복통 흥통, 메스꺼움도 나타난다.</li>
							<li class="mt10">눈이 어두워진다.</li>
							<li class="mt10">뇌에 전이되면 경련이나 정신병 증상이 나타나기도 한다.</li>
							<li class="mt10">신장으로 전이되면 신장이 굳어 점차 사망하게 된다.</li>
						</ul>
					</div>
				</div>