<div class="txt-contents">
					<h4>류마티스 관절염 원인, 종류</h4> 
					<p class="txt">
						류마티스 질환의 특징이 원인을 몰라 치료가 어렵고 만성질환이 되기 쉽다는 것이다.
						류마티스의 종류만해도 120가지가 넘는다.<br>
						류마티스의 류마의 어언이 흐른다는 의미를 지닌 것처럼 질환을 유발하는 인자가 혈액을 타고 질환이 발병한 장기에서<br> 다른 장기로 옮겨다닌다는 뜻이다.<br><br>

						류마티스는 혈액을 타고 들어온 물질이 근육이나 장기를 손상케하고 통증을 유발하는 질환이다.<br> 류마티스는 두가지 특성으로 나눌 수 있다.<br><br>

						관절을 침범하는 관절염과 관절 이외의 장기를 침범하는 비관절성 류마티스이다.<br>
						류마티스 관절염의 경우 100명당 1명꼴로 많은 사람들이 앓고 있는 질환으로 관절이 아프다
						나아졌다를 반복하며 근육과 관절의<br> 변형과 파괴를 가져오는 질환이다.
					</p>
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh04.gif" class="mt10" alt="류마티스 관절염" /></center>
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh05.gif" class="mt10" alt="류마티스 관절염" /></center>
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh06.gif" class="mt10" alt="류마티스 관절염" /></center>
					<h4 class="mt40">류마티스 관절염 특징</h4>
					<div class="txt-contents">
						<ul class="mt10">
							<li class="mt10">류마티스 발병은 서서히 또는갑자기 발병</li>
							<li class="mt10">오전에 관절이 뻣뻣해지는 강직 현상</li>
							<li class="mt10">손, 발 같은 작은 관절들에 침범</li>
							<li class="mt10">체중이 감소하고 근육이 줄에 듬</li>
							<li class="mt10">피로감, 무기력, 식욕부진 같은 증상</li>
							<li class="mt10">관절에 물이 차고 변형이 생기기도 함</li>
							<li class="mt10">수면이나 휴식 후 근육과 관절 통증(오전에 많이 나타남)</li>
							<li class="mt10">양쪽손, 양쪽팔 등 대칭적으로 증상이 나타남</li>
							<li class="mt10">관절 등에 붓거나 열감 동반</li>
						</ul>
					</div>
				</div>