<div class="txt-contents">
					<h4>통풍이란?</h4> 
					<p class="txt">
						통풍은 혈액내에 요산이라는 물질이 관절에 쌓이면서 통증이 유발되는 질환이다.
						통풍은 이름처럼 바람만 스쳐도 아프다는<br> 질환으로 통풍의 증상으로는 손가락, 발가락, 귓볼 등에서 작은 결절들이 많이 나타나고 붓고 열나고 아프다.
						통풍이 관절에<br> 나타날 경우 통풍성 관절염이라고 하며 신장에 나타날 경우에는 신장 결석을 초래한다. 
					</p>
						<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh11.gif" alt="통풍" /></span>
					<h4 class="mt40">통풍이 유발되는 이유</h4>
					<div class="txt-box mt20">
						<ul>
							<li>01. 인체에 들어가면 요산으로 변하는 음식(멸치, 견과류, 동물의 장기, 맥주 등을 많이 섭취하는 경우)</li>
							<li class="mt10">02. 원인 파악 할 수 없지만 체내에서 요산이 저절로 다량 합성되는 경우(유전질환이 있는 경우 백혈병 혹은 항암화학요법을<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;받을 경우)</li>
							<li class="mt10">03. 신장이 요산을 제대로 배출하지 못하는 경우(신장 질환을 앓고 있거나, 과한 음주를 하는 경우, 이뇨제를 복용하는 경우)</li>
							<li class="mt10">04. 갑작스런 체중의 증가를 겪은 경우</li>
							<li class="mt10">05. 통풍의 가족력이 있는 경우</li>
						</ul>
					</div>
					<h4 class="mt40">통풍이 유발되는 3가지 원인과 치료</h4> 
					<p class="txt">
						통풍은 조직과 혈액안에 요산의 결정들이 많아지면서 생기는 질환이다. 요산의 농도가 높아지면 통풍이 유발된다.
						통풍은<br> 엄지발가락에서 시작되는 경우가 많으며 무릎이나 손가락, 발목, 손목 등에서 나타난다. 통풍이 발병한 관절 부위는 통통 붓고<br> 붉게 변하며 건드리기만 해도 극심한 통증이 올 수 있다. 
						통풍을 치료하지 않을 경우 위와 같은 관절 이외에도 귓 바깥부분 등에<br> 통풍 결절이 쌓여 딱딱하고 흰 침전물이 보여기도 한다. 
						통풍이 발생한 후에는 치료가 진행 되었다고 해도 일주일 안에 또는<br> 몇 년안에 다시 재발 할 수 있으며 재발한 통풍이 수년간 지속되는 경우도 있다. 
						통풍 처음 하루에서 다음날까지는 최대로 극심한<br> 통증이 나타나며 빨리 치료를 서두르지 않을 경우 통풍이 수일간 지속되며 아주 극심한 통증에 시달리게 된다. 
					</p>
					<div class="txt-box mt20">
						<P class="txt_01">요산 농도가 높아져서 통풍이 유발되는 데는 크게 <span>3가지 원인</span>이 있다.</P><br>
						<strong class="tit01">01. 퓨린이라고 하는 성분이 많이 들에 있는 식사를 하는 경우</strong> 
						<p class="txt">
							퓨린은 체내에서 요산으로 분해되기 때문 퓨린이 많이 들어있는 음식으로는<br> 안초비(멸치), 견과류, 동물의 간/신장/흉선 등의 장기 등<br><br> 
							<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh12.gif" alt="퓨린" /></span>
						</p>
						
						<strong class="tit01">02. 체내에서 요산이 많이 생성되는 경우</strong> 
						<div class="txt">
							이에 대한 원인은 잘 알려져 있지 않으나 특정한 유전 질환들, 백혈병 혹은<br> 항암화학요법을 받는 암환자에서 발생할 수 있다.<br><br>
						</div>
						<strong class="tit01">03. 신장이 요산을 제대로 배출하지 못하는 경우</strong> 
						<p class="txt">
							신장질환을 앓고 있거나, 단식, 음주(특히 폭음)를 할 경우 유발될 수 있다.<br>
                            고혈압 치료제 중에서 티아지드(thiazide)이뇨제를 쓰는 사람에서도 유발될 수 있다.<br><br>
						</p>
						<p class="txt_01">이 밖에도 통풍이 잘 발생하는 사람들의 <span>4가지 공통점은</span></p>
						<ul>
							<li class="mt20">01. 비만 혹은 급작스런 체중의 증가한 경우 갑자기 많은 퓨린 물질이 발생하기 때문</li>
							<li class="mt10">02. 통풍의 가족력이 있는 경우 유전적인 영향</li>
							<li class="mt10">03. 40대 이상의 남자가 통풍 환자의 90%를 차지 하는데 이는 퓨린이 많이 들어있는 맥주나 육류를 많이 섭취하기 때문</li>
							<li class="mt10">04. 젊은 여자들에서는 통풍이 드물게 발생하는데, 특별히 폐경 후 수년이 지난 여자들에서 나타날 수 있다.</li>
						</ul>
						<p class="txt">
							통풍에서는 요산의 결정들이 관절들에 침착하여 통풍성 관절염이라 하는 형태의 관절염을 초래한다.<br>
							이러한 요산 결정들은 신장에도 침범할 수 있으며, 그 경우 신장 결석을 일으키기도 한다. 
						</p>
					</div>
				</div>