<div class="txt-contents">
					<h4>통풍성 관절염</h4> 
					<p class="txt">
						통풍은 주로 다리나 발가락 관절, 발목 관절에 요산(尿酸)이 침착돼 염증성 관절염을 일으키는 질환이다. 
						요산은 퓨린이라고 하는<br> 천연화합물의 최종 분해산물이다. 
						이 요산 성분이 몸속에 쌓이면 심하게 부으면서 염증이 생겨 빨갛게 되고 뻣뻣해져 통증을<br> 느끼게 된다. 
						가장 큰 특징은 찌를 듯 극심한 통증이다. 
						통풍이 찾아온 경우라면 주로 밤에 통증이 심해져 잠을 이룰 수가 없다.<br> 
						증상이 발전하면 밤낮을 가리지 않고 통증이 지속되어 걷기 힘든 지경에까지 이르게 된다. 
						일단 통풍성 관절염이 생기면<br> 약 85~90%가 하나의 관절에 급성 관절염의 형태로 나타난다. 
						중장년층 여성에게 많이 나타나는 퇴행성 관절염과는 달리,<br> 통풍성 관절염은 30~40대의 비교적 젊은 남성에게서 많이 발생한다.
						주로 엄지 발가락, 발목, 무릎 등 하지의 관절에 흔히<br> 발병하며, 특히 전체 통풍 관절염 환자의 90%이상이 엄지 발가락에 관절염 증상을 나타난다.  
					</p>
					<h4 class="mt40">통풍성 관절염이 의심되는 경우</h4>
					<div class="txt-box mt20">
						<ul>
							<li>01. 한번 이상의 급성 관절염 발작</li>
							<li class="mt10">02. 하루 이내에 최대의 관절염이 발생되는 경우</li>
							<li class="mt10">03. 한 개의 관절을 침범한 발작성 관절염</li>
							<li class="mt10">04. 관절부위의 붉은 발작</li>
							<li class="mt10">05. 첫 번째 발가락 관절의 통증이나 종창</li>
							<li class="mt10">06. 한쪽의 발목관절을 침범한 발작</li>
							<li class="mt10">07. 통풍결절로 의심되는 결절</li>
							<li class="mt10">08. 고요산혈증</li>
							<li class="mt10">09. X선 검사에서 한 관절의 비대칭적 종창</li>
							<li class="mt10">10. X선 검사에서 골미란이 없이 발견된 피골하의 골 낭포</li>
							<li class="mt10">11. 발작이 있을 때 채취한 윤활액의 세균배양이 음성인 경우</li>
						</ul>
						<span class="box-photo-right01"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh13.gif" alt="통풍성 관절염" /></span>
					</div>
					<h4 class="mt40">통풍성 관절염 예방 10계명</h4>
					<div class="txt-box mt20">
						<ul>
							<li>규칙적인 식사습관을 들인다.</li>
							<li class="mt10">지나친 운동은 금물, 특히 무산소 운동인 웨이트 트레이닝은 자제하도록 한다.</li>
							<li class="mt10">단백질 위주의 식단을 제한한다.</li>
							<li class="mt10">통풍이 잘 생기는 관절의 반복적인 손상을 줄인다.</li>
							<li class="mt10">적정 체중을 유지한다.</li>
							<li class="mt10">통풍과 비슷한 증상이 있다면 전문의 진찰을 받도록 한다.</li>
							<li class="mt10">40대 이후, 혈중 요산수치를 점검하도록 한다.</li>
							<li class="mt10">하루에 2L 이상의 수분을 섭취해 요산이 몸 밖으로 잘 배출되게 한다.</li>
							<li class="mt10">피곤한 상태에서의 지나친 신체활동은 삼간다.</li>
							<li class="mt10">술과 기름진 음식, 이뇨제나 아스피린은 요산수치를 올리므로 가급적 섭취를 줄인다.</li>
						</ul>
						<span class="box-photo-right02"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/rh14.gif" alt="통풍성 관절염" /></span>
					</div>
				</div>