	<div class="txt-contents">
					<h4>알레르기란</h4> 
					<p class="txt">
						면역반응의 한 종류로 보통 사람에게는 문제가 되지 않는 특정 이물질에 대하여 특이하게 발생하는 이상 과민 면역반응입니다.<br> 
						아토피란 알레르기반응 중 IgE 항체가 관여하는 면역반응을 말합니다. 
					</p>
					<h4>대표적인 알레르기 질환 </h4>
					<h5 class="mt20">알레르기 비염</h5>
					<p class="txt">
						알레르기 비염은 알레르겐이 호흡 중에 콧속으로 흡입되어 염증을 유발하며 재채기를 연속적으로 하고 동시에 맑은 콧물이 흐르며,<br>
						가려움증으로 눈과 코를 문지르게 되고, 코 막힘 증상들이 나타나는 질환입니다.<br> 
						기온과 습도의 급격한 변화에 의해서 증상이 악화되며 증상이 발작적이고 아침에 심하며 원인물질에 노출되면 증상이 반복되어<br>  
						봄, 가을 등 환절기에 심해지는 경향이 있습니다. 가족 중에 비슷한 증상을 가진 사람이 있으며 다른 알레르기 질환을 같이 가지고 있는 경우가 흔합니다. 
					</p>
					<h5>두드러기</h5>
					<p class="txt">
						두드러기는 피부 혈관 이완 및 부종으로 인한 일시적인 발적과 팽진이 나타나는 현상으로 보통 가려움증을 동반합니다.<br> 
						심한 경우 눈꺼풀이나 입술이 붓고 호흡곤란, 천명, 복통, 혈압저하(쇼크)를 유발할 수 있으며 <br> 
						이 경우를 혈관부종/아나필락시스라고 합니다.<br> 
						두드러기의 원인으로는 피부묘기증, 한랭두드러기, 일광두드러기, 운동유발성 아나필락시스 등의 물리적 자극에 의한 경우, <br> 
						금속이나 고무 등 접촉에 의한 경우, 약물이나 음식물 등에 의한 경우 등이 있습니다.  
					</p>
					<h5>기관지천식</h5>
					<p class="txt">
						기관지 천식이란 폐와 기관지의 만성적인 알레르기질환입니다.<br> 
						기관지란 숨을 들이 마시고 내쉬는 통로로 알레르기 반응에 따른 기도염증으로<br>  
						폐 속에 있는 기관지가 때때로 협착을 일으킴에 따라 가래가 증가하고 <br> 
						여러 자극에 기도가 쉽게 수축하여 호흡곤란, 기침, 천명 등의 증상이 <br> 
						반복적으로, 발작적으로 나타나는 질환입니다.<br><br>  
						그러나 단지 마른 기침만 반복적으로 나타나는 경우, 가슴이 답답하거나<br> 
						흉부 압박감을 호소하는 경우 또는 목구멍에 가래가 걸려있는 것 같은 증상만을<br> 
						호소하는 경우도 있습니다.<br> 
						천식환자에서는 일반적으로 감기에 걸린 후에 호흡곤란이 악화하거나,<br> 
						달리기 같은 운동 후에 천명의 증상들이 나타나는 경우가 많습니다. 
						<span class="box-photo-right"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex01.gif"  alt="기관지천식" /></span>
					</p>
					<h5>알레르기 검사</h5>
					<p class="txt">
						우리가 호흡하는 공기는 항상 먼지를 함유합니다. 먼지의 양과 유형은 장소 (집, 회사, 학교, 직장)와 시간에 따라 달라지며<br>
						다음과 같은 알레르기 항원을 함유합니다.<br>
						<div class="box-txt mb20">
							<ul>
								<li>집 먼지 진드기</li>
								<li>동물의 비듬(피부, 박편, 털)</li>
								<li>곤충의 파편</li>
								<li>음식 먼지</li>
								<li>꽃가루</li>
								<li>곰팡이</li>
							</ul>
						</div>
						사람들이 "알레르기"를 보인다는 것은 면역계가 특정 입자를 흡입하거나 만질 때에 비정상적으로 반응하는 것입니다.<br> 
						천식 환자에서는, 기도가 좁아져 호흡이 어렵습니다. 다른 사람들은 재채기, 코가 막히거나, 눈과 목이 가려운 <br>
						(알레르기 비염)증상을 갖거나, 또는 피부에 발진이 생길 수 있습니다.(두드러기) 공기는 담배 및 매연, 향수, 페인트, 화학 물질 등 <br>
						기도에 자극이 되는 다른 입자들을 함유할 수 있습니다. 알레르기 검사는 알레르기 질환의 원인 및 악화인자를 알기 위해  <br>시행하는 검사입니다.
					</p>

					<div class="txt-box mt20">
						<strong class="tit01">01. 혈청 총 IgE 검사</strong> 
						<p class="txt">
							gE(Immunoglobulin E / 면역글로불린 E)는 혈액 속에 존재하는 면역단백질로, 혈청 IgE검사는 채혈한 혈액에서 혈청을<br> 
							분리하여 혈청 내 전체 IgE의 양을 정확하게 측정함으로써 알레르기 반응 중 아토피성 질환의 진단에 도움이 되는 검사입니다.<br> 
							인체에 순환하는 총 IgE의 농도는 알레르기 질환과 연관되어 있습니다. 아토피 상태에 대한 개요를 제공해 줍니다.
						</p>
						<strong class="tit01">02. 혈청 특이 IgE 검사</strong> 
						<div class="txt">
							특이 IgE는 특정 알레르기항원에 감작되면 혈액 내에 농도가 높아지며, 자주 노출될수록 증가합니다.<br>
							혈청에 존재하는 특정 항원에 대한 IgE 양을 측정함으로써 알레르기를 유발하는 <br>
							원인물질을 규명하고 증세의 정도를 진단할 수 있습니다.<br>
							특이 IgE검사는 채혈을 통해 간단하게 알레르기를 유발하는 항원을 찾을 수 있고,<br>
							특히 피부과민성이 있어 피부반응검사를 시행할 수 없는 경우나 항히스타민제 등의 <br>
							약제를 복용한 경우 진단에 도움이 됩니다.
							<ul class="ex01 mt10 mb20">
								<li>· 최선의 치료를 위해 환자의 알레르기를 유발하는 물질을 규명하고 항체수치를 측정합니다.</li>
								<li>· 증상의 유무와 관계 없이 IgE 수치를 측정함으로써 알레르기 발병을 미리 예측합니다.</li>
								<li>· 현재 적절한 치료를 받고 있는지 상태를 확인합니다.</li>
							</ul>
						</div>
						<strong class="tit01">03. 천식 유발검사</strong> 
						<p class="txt">
							호흡곤란, 천명, 만성기침 등이 있는 경우 기관지가 얼마나 자극에 대해 예민한지를 객관적으로 조사하는 방법으로<br>
							비 특이적인 기관지수축물질 메타콜린(methacholine)을 이용하여 점차 농도를 증가시키면서 <br>
							흡입시켜 기저치 폐 기능과 비교하여  폐활량을 측정하는 검사로 기관지천식의 유무와 중증도를 알 수 있습니다.
						</p>
						<strong class="tit01">04. 알레르기 피부반응 검사</strong> 
						<p class="txt">
							짧은 시간 안에 간단한 방법으로 원인 항원을 검색할 수 있는 검사로 알레르기 항원 물질을 한 방울씩 등이나 팔에 떨어뜨린 후<br>
							바늘로 긁어 15분 후 판독합니다. 이때 즉각적인 피부의 팽진(wheal), 발적(erythema)이 발생하면, 이 알레르기 <br>
						</p>
						<center><strong class="ctxt-4d8ed3">56종 테스트 결과지</strong></center> 
						<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/tester.gif" class="mt10" alt="56종 테스트 결과지" /></center>
					</div>
					<h4 class="mt30">면역요법</h4>
					<h5 class="mt20">면역요법이란</h5>
					<p class="txt">
						알레르겐 특이 면역요법은 기관지천식, 알레르기비염, 벌독 알레르기 등 알레르기 질환의 유일한 근치요법으로<br> 
						널리 사용되고 있습니다.<br> 
						지금까지 알레르기 천식 및 비염의 치료에 월등한 효과가 있다고 보고되었습니다.  소아천식 환자에서는 <br> 
						집 먼지 진드기 단독 면역요법이 다른 흡입성 항원에 대한 새로운 감작을 예방하는 효과가 있다고 보고 되었습니다.<br>
						알레르겐 특이 면역요법의 효과는 증상지수, 피부반응도, 혈청 내 특이 IgE 항체치, 기도과민성,<br> 
						약물요구량 등을 지표로 하여 증명되는데, 비염 및 천식 환자에서 <br> 
						장기간의 면역요법 후 이들 지표가 호전 되었다는 다양한 보고가 있습니다.
					</p>
					<div class="txt-box">
						<strong class="mb15">면역요법을 위해 필요한 준비 검사로는</strong>
						1) 알레르기 피부단자시험 및 총 IgE, 특이 IgE 측정 <br> 
						2) 폐 기능 검사 및 메타콜린 기관지유발검사 등이 있습니다. <br>  
						이러한 검사는 환자에게 특이 원인 항원을 확인하고 면역 요법의 효과를 확인하기 위한 <br>
						추적 검사시 비교하는 객관적 자료가 됩니다.
					</div>
					<h5 class="mt20">면역요법의 종류</h5>
					<p class="txt">
						면역요법은 고식적으로는 피하경로를 통하는 것이 표준이나 최근 설하 경로가 대체경로로 사용될 수 있으며,<br>
						동등한 효능을 가지는 것으로 보고되고 있습니다. 피하 면역요법(그림 피하면역)의 경우 유도기간 이후 최대용량으로<br>
						증량하여 유지하는 유지기간이 필요하며, 아나필락시스, 두드러기 등 전신적 부작용이 발생할 위험이 있으나,<br>
						철저한 외래 추적을 통하여 위험을 낮출 수 있습니다.<br> 
						반면 설하 면역요법(그림4-1, 그림4-2)의 경우 구강 소양증, 부종, 자극 등 국소적인 부작용만이 수분 내 발생하는 것으로 보고되며,<br>
						대부분 성인 및 소아에서 안전하게 사용할 수 있습니다.
						<img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex02.gif" class="mt20" alt="" />
					</p>
					<h5>효과</h5>
					<p class="txt">
						면역요법이 모든 알레르기 환자들에서 효과가 있는 것은 아닙니다.<br> 
						하지만, 일반적으로 면역요법은 천식 환자의 65∼90%에서 효과가 있다고 알려져 있으며, 면역요법과 약물치료를 병행한 경우<br> 
						약물치료만 시행 했을 때 보다 효과가 있습니다. 치료 전 검사 결과와 전문의의 상담을 통하여 시행여부를 결정합니다.
					</p>
					<h5>치료 기간</h5>
					<p class="txt">
						피하 면역요법은 유도기간 및 유지기간이 필요하며 유도기간 동안은 일주일에 한번 병원을 방문하게 되며 유지기간 동안은<br> 
						한 달에 한번 방문하시게 됩니다. 설하 면역요법은 초기 시작시 적응 기간까지는 일주일에 한번 병원을 방문하며<br>
						전신 상황의 확인이 필요하며  이후 한 달에 한번 방문하여 약의 처방 및 검사를 시행 할 수 있습니다.<br>  
						면역요법의 적절한 종료시점은 증상이 소실된 경우 3∼5년 정도 지속하도록 권장하고 있습니다. <br> 
						일부 천식 환자에서는 면역요법 6년째에 기도과민성이 소실되어(3.8%), 일반적으로 권장되는 면역요법의 종료시점을<br> 
						일괄적으로 적용하기보다 의사의 판단 하에 개별화하여 적용하고 있습니다. 
					</p>
				</div>