<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						갑상선 기능 검사란 갑상선 기능을 평가하기 위해 필요한 호르몬들의 수치를 측정하는 검사들의 조합을 말한다. 
						갑상선 기능에 이상이<br> 오는 질환의 종류는 다양하지만 크게 갑상선 기능이 상승되는 갑상선 기능 항진증과 반대로 기능이 저하되는 갑상선 기능 저하증으로<br> 분류할 수 있다. 
						각각의 원인 질환에 따라 갑상선 호르몬과 관련 검사들의 수치가 변화한다. 
						따라서 갑상선과 관련된 여러 호르몬 및<br> 검사 항목들을 측정하여 그 변화 양상에 따라 적절한 진단과 치료를 할 수 있다.
					</p>
					<h4 class="mt40">종류</h4>
					<div class="txt-box mt20">
						<strong>갑상선자극호르몬(TSH)</strong> 
						<strong class="tit01 mt10">트리요오드 타이로닌(T3)</strong>
						<strong class="tit01 mt10">타이록신(T4)</strong> 
						<strong class="tit01 mt10">유리 T4(freeT4)</strong> 
					</div>
					<h4 class="mt40">검사방법</h4> 
					<p class="txt">
						갑상선 기능 검사는 혈액을 이용한 검사이다.<br> 
						갑상선 기능 검사의 항목들을 검사하는 데에는 대개 면역 검사(immunoassay)가 이용된다.<br>
						면역 검사는 항원항체 반응을 이용한 검사로, 측정하고자 하는 물질에 선택적으로 결합하는 항체를 이용해서 원하는 물질을 측정<br> 할 수 있다. 
					</p>
					<h4 class="mt40">결과</h4>
					<div class="wrap-table mt20">
						<table class="tbl01">
						<caption>갑상선 검사 결과</caption>
						<colgroup>
							<col width="28%"/>
							<col width="17%"/>
							<col width="17%"/>
							<col width="17%"/>
							<col width="17%"/>
						</colgroup>
						<thead>
						<tr>
							<th>질환 </th>
							<th>TSH</th>
							<th>T4</th>
							<th>T3</th>
							<th>Free T4</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th>일차성 갑상선 기능 저하증</th>
							<td>증가</td>
							<td>감소</td>
							<td>정상 또는 감소</td>
							<td>감소</td>
						</tr>
						<tr>
							<th>일과성 신생마 갑상선 기능 저하증</th>
							<td>증가</td>
							<td>감소</td>
							<td>감소</td>
							<td>감소</td>
						</tr>
						<tr>
							<th>하시모토병</th>
							<td>증가</td>
							<td>정상 또는 감소</td>
							<td>정상 또는 감소</td>
							<td>정상 또는 감소</td>
						</tr>
						<tr>
							<th>그레미브스병</th>
							<td>감소</td>
							<td>증가</td>
							<td>증가</td>
							<td>증가</td>
						</tr>
						<tr>
							<th>갑상선 자극 호르몬 결핍증</th>
							<td>정상 또는 감소</td>
							<td>감소</td>
							<td>감소</td>
							<td>감소</td>
						</tr>
						<tr>
							<th>전신성질환, 초기</th>
							<td>정상</td>
							<td>정상</td>
							<td>감소</td>
							<td>정상</td>
						</tr>
						<tr>
							<th>전신성질환, 초기</th>
							<td>감소</td>
							<td>감소</td>
							<td>감소</td>
							<td>정상 또는 감소</td>
						</tr>
						</tbody>
						</table>
					</div>
					<h4 class="mt40">진단질병</h4>
					<p class="txt">
						갑상선 기능 저하증, 갑상선 기능 항진증, 하시모토병(Hashimoto’s disease), 그레이브스병(Graves’ disease),<br>
						갑상선 자극 호르몬 겹핍증(TSH deficiency), 선천성 갑상선 기능 저하증(congenital hypothroidism) 등
					</p>
				</div>