<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						고지혈증은 필요 이상으로 많은 지방성분 물질이 혈액 내에 존재하면서 혈관벽에 쌓여 염증을 일으키고 그 결과 심혈관계질환을<br> 일으키는 상태이다. 
						최근에는 비정상적인 혈액 내 지질상태를 이상지질혈증(dyslipidemia)으로 정의하기도 한다. 
					</p>
					<h4 class="mt40">원인</h4> 
					<p class="txt">
						유전적인 요인으로 인해 혈액 내에 특정 지질이 증가하여 고지혈증이 발생하는 경우가 많지만, 비만이나 술, 당뇨병 등과 같은<br> 다른 원인에 의해서도 고지혈증이 생길 수 있다.
					</p>
					<h4 class="mt40">진단</h4> 
					<p class="txt">
						혈액 내의 콜레스테롤, 중성지방, HDL-콜레스테롤, LDL-콜레스테롤 수치를 측정한다.
					</p>
					<h4 class="mt40">검사</h4> 
					<p class="txt">
						<strong class="tit01">금식을 한 후 시행하는 채혈검사가 필요하다.</strong>  
						중성지방 수치가 보통 400mg/dL이하인 경우, LDL-콜레스테롤 수치는 다음의<br> 계산식으로 값을 얻을 수 있다. 
						LDL-콜레스테롤=총콜레스테롤수치-중성지방수치/5-HDL-콜레스테롤 수치.
						중성지방 수치가<br> 400mg/dL를 넘는 경우에는 직접 LDL-콜레스테롤을 측정해야 한다.
					</p>
					<h4 class="mt40">치료</h4> 
					<p class="txt">
						식사 조절과 운동을 통한 생활 습관 개선및 적절한 체중을 유지하는 것과 함께 약물치료가 고지혈증 치료의 중심이 된다.
					</p>
					<h4 class="mt40">예방밥법</h4> 
					<p class="txt">
						식사 조절과 함께 적절한 운동을 통해 비만이 되지 않도록 하는 것이 중요하다.
					</p>
					<h4 class="mt40">관련질병</h4> 
					<p class="txt">
						급성췌장염
					</p>
				</div>