<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						빈혈은 여러 검사 지표(파라미터, parameter)중에서 혈색소(hemoglobin)농도의 감소로 가장 먼저 알 수 있다.<br>
						세계보건기구(WHO)의 2008 기준에 따라, 나이와 성별에 따라 아래의 표에 제시된 각각의 혈색소 기준 미만일 때 빈혈로 정의한다.
					</p>
					<h5 class="mt30">01 원인에 따른 빈혈의 종류</h5>
					<div class="wrap-table mt20">
						<table class="tbl03">
						<caption>당뇨 결과</caption>
						<colgroup>
							<col width="50%"/>
							<col width="50%"/>
						</colgroup>
						<thead>
						<tr>
							<th>나이 또는 성별</th>
							<th>혈색소 기준</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>6개월 ~ 4세</td>
							<td>11.0 g/dL</td>
						</tr>
						<tr>
							<td>5 ~11세</td>
							<td>11.5 g/dL</td>
						</tr>
						<tr>
							<td>12 ~ 14세</td>
							<td>12.0 g/dL</td>
						</tr>
						<tr>
							<td>성인 남자(≥ 15세)</td>
							<td>13.0 g/dL</td>
						</tr>
						<tr>
							<td>성인 여자(≥ 15세)</td>
							<td>12.0 g/dL</td>
						</tr>
						<tr>
							<td>임산부</td>
							<td>11.0 g/dL</td>
						</tr>
						</tbody>
						</table>
					</div>
					<h5 class="mt20">02 적혈구 형태에 따른 빈혈의 종류</h5>
					<div class="wrap-table mt20">
						<table class="tbl04">
						<caption>적혈구의 생성 감소에 의한 빈혈</caption>
						<colgroup>
							<col width="20%"/>
							<col width="30%"/>
							<col width="50%"/>
						</colgroup>
						<thead>
						<tr>
							<th colspan="3">적혈구의 생성 감소에 의한 빈혈</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td rowspan="7">용혈성빈혈</td>
							<td rowspan="3">적혈구막의 이상에 의한 용혈성 빈혈</td>
							<td>유전구상적혈구증(hereditary spherocytosis)</td>
						</tr>
						<tr>
							<td>유전타원적혈구증(hereditary elliptocytosis)</td>
						</tr>
						<tr>
							<td>
							발작야간혈색소증<br>
							(paroxysmal nocturnal hemoglobinuria, PNH)
							</td>
						</tr>
						<tr>
							<td rowspan="2">적혈구 효소 결핍에 의한 빈혈</td>
							<td>
								글루코오스-6-인산탈수소효소<br>
								(glucose-6-phosphate dehydrogenase, G6PD) 결핍증 
							</td>
						</tr>
						<tr>
							<td>피루브산염 키나제(pyruvate kinase) 결핍증</td>
						</tr>
						<tr>
							<td rowspan="2">혈색소 합성 장애에 의한 빈혈</td>
							<td>지중해 빈혈(thalassemia)</td>
						</tr>
						<tr>
							<td>이상혈색소증(hemoglobinopathy)</td>
						</tr>
						</tbody>
						</table>
					</div>
					<p class="txt">
						빈혈 환자를 치료로 하기 위해서는 우선 빈혈의 원인을 찾아야 한다.<br>
						빈혈의 원인을 찾기 위해서는 기본적으로 적혈구 지수와 망상적혈구 수를 포함한 일반 혈액 검사와 말초혈액 도말 검사가 포함된<br> 선별 검사를 통해서 적혈구의 수, 크기, 
						모양을 확인하는 것이 가장 기본이 되며, 추정 원인에 따라 확진 검사를 시행한다.
					</p>
					<h4 class="mt40">검사방법</h4> 
					<p class="txt">
						채혈실에서 검사용 용기에 소량의 피를 채혈한다.<br> 
						임상 증상이나 신체 검진 결과와 함께 적혈구의 형태와 염색성, 망상적혈구 수, 그리고 망상적혈구 생산진수 결과에 따라 빈혈의<br> 원인을 선별한 후, 의심되는 빈혈의 원인에 따른 추가 검사를 시행한다.
					</p>
					<div class="txt-box mt20">
						<strong class="tit01">원인에 따른 빈혈의 종류와 각각에 대한 추가 검사</strong> 
						<p class="txt">
							01. 적혈구의 생성 감소에 의한 빈혈<br>
							02. 용혈성빈혈<br><br>
						</p>
						<strong class="tit01">적혈구 형태에 따른 빈혈의 종류와 각각에 대한 추가 검사</strong> 
						<p class="txt">
							01. 대구 빈혈<br>
							02. 정구정색소 빈혈<br>
							03. 소구제색소 빈혈
						</p>
					</div>			
				</div>