	<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						심장의 수축에 따른 활동 전류 및 활동 전위차를 파상 곡선으로 기록한 도면 보통 심전계를 사용하여 몇 개의 심전 곡선으로<br> 나타내며, 심장 질환의 진단에 매우 중요하다. 
						심장 안에는 동방결절이란 부분이 있는데 여기서 전기적 신호를 만들어낸다.<br><br>
						이렇게 만들에진 전기는 심장내의 전기 전도 시스템을 따라 심장 전체에 전달되게 된다. 
						심장의 각 부위에 전달된 전기신호에<br> 의해 심장 근육을 이루는 세포가 수축을 하게 되고, 이로 인해 심장이 뛰게 되는 것이다. 
						심전도는 위에 설명한 심장의 전기신호를<br> 피부에 부착한 전극을 통해 그림으로 기록하는 것으로, 심장에 대한 검사 중에서 가장 기본이 되는 것이다.<br><br> 
						전극은 신체의 여러 부위에 부착하고, 이를 통해 심장 각 부위의 전기적 현상을 잘 이해할 수 있다.<br> 
						각 부위의 전극에서 검출된 신호의 크기(전압, y축)를 시간(x축)에 대한 그래프로 나타내고, 이를 통해서 심장 각 부위에서 전압이<br> 약하거나 강해진 것을 분석할 수 있으며, 심장의 리듬이 불규칙한지, 빠른지, 느린지를 알 수 있게 됩니다.
					</p>			
				</div>