<div class="txt-contents">
		<h4>정의</h4> 
		<p class="txt">
			천식이란 폐 속에 있는 기관지가 아주 예민해진 상태로, 때때로 기관지가 좁아져서 숨이 차고 가랑가랑하는 숨소리가 들리면서<br>
			기침을 심하게 하는 증상을 나타내는 병을 말하는데, 기관지의 알레르기 염증 반응 때문에 발생하는 알레르기 질환이다. 
		</p>
		<img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex03.jpg" alt="ASTHMA" />
		
		<h4 class="mt20">원인</h4> 
		<p class="txt">
			천식은 유전적 요인과 환경적 요인이 합쳐져서 생기는 대표적인 알레르기 질환이다.

		</p>

		<h4 class="mt20">증상</h4> 
		<p class="txt">
			기관지 천식의 대표적인 증상은 호흡곤란, 기침, 천명(쌕쌕거리는 거친 숨소리)이다. 이러한 증상이 반복적으로,<br>
			발작적으로 나타나지만 실제로 천식 환자는 전형적인 천식의 증상 외에 비전형적인 증상을 호소하는 경우도 많다. <br>
			즉, 호흡곤란이나 쌕쌕거리는 숨소리 등의 증상은 없고 단지 마른 기침만 반복적으로 나타나는 경우, <br>
			가슴이 답답하거나 흉부 압박감을 호소하는 경우 또는 목구멍에 가래가 걸려있는 것 같은 증상만을 호소하는 경우도 있다. <br>
			일반적으로 감기에 걸린 후에 호흡곤란이 악화하거나, 달리기 같은 운동 후에 호흡곤란, 거친 숨소리 증상들이 많이 나타난다.

		</p>


		<h4 class="mt20">진단</h4> 
		<p class="txt">
			<div class="box-txt mb20">
				<ul>
				<li>찬 공기, 흐린 날, 담배연기, 매연, 최루탄, 연탄가스, 음식 냄새, 페인트칠 냄새 등에 노출되면 가슴이 답답하거나 </li>
				<li>숨이 차고 가랑가랑하는 숨소리가 들리거나 기침이 발작적으로 나곤 한다.</li>
				<li>밤에 가슴이 답답하거나 숨이 차고 거친 숨소리가 들리거나, 기침이 발작적으로 나서 잠을 깬 적이 있다.</li>
				<li>감기에 걸리면 숨이 차고 가랑가랑하는 숨소리가 들리거나, 기침이 한 달 이상 오래 지속된다.</li>
				<li>운동 중에 혹은 운동 직후에 숨이 차고 가랑가랑한다.</li>
				<li>직장에서 근무할 때에는 숨이 차고 가랑가랑하지만 휴가 때에는 괜찮다.</li>
				<li>매년 봄이나 가을의 일정 기간에만 기침이 한 달 이상 지속되거나 숨이 차다.</li>
				<li>시험 때나 정신적인 스트레스가 심할 때 숨이 차거나 가랑가랑한다.</li>
				<li>가족 중에 천식이나 알레르기 비염 환자가 있고, 간혹 가슴이 답답하고 숨이 차다.</li>
				</ul>
			</div>
		</p>
		<h4 class="mt20">검사</h4> 
		<p class="txt">
			천식을 진단하기 위한 검사로는 폐기능 검사와 천식유발 검사, 객담 검사 등이 있다. 
		</p>
	
	</div>