	<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						우리 몸에서 알레르겐에 의해 면역 반응이 일어나면 IgE 라는 항체가 생기게 된다. 만일 면역 반응을 일으켰던 알레르겐이<br>
						다시 우리 몸 속에 들어오게 되면 염증 세포 표면에 붙어 있던 IgE와 결합하면서 화학물질이 분비된다. <br>
						이 화학 물질에 의해 쇼크 증세와 같은 심한 전신 반응이 일어나는데, 보통 시간이 매우 짧아 아주 소량의 알레르겐에<br>
						다시 노출되더라도 수분 이내에 증상이 나타난다
					</p>
					<img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex05.jpg" alt="" />
					
					<h4 class="mt20">원인</h4> 
					<p class="txt">
						IgE에 의한 면역 반응을 유발할 수 있는 요인이라면 모두 아나필락시스를 일으키는 원인이 될 수 있다. <br>
						임상적으로 아나필락시스와 아나필락시스양 반응을 구별하기는 어렵기 때문에 이 둘의 원인을 각기 구별 짓지 않고 함께 열거하면<br>
						다음과 같다.<br><br> 
						1) 음식<br> 
						2) 약물<br> 
						3) 곤충<br> 
						4) 운동<br>  
						이외에 혈액투석 중에 투석막에 의한 보체 활성화로 나타나기도 하며, 때로는 원인을 찾을 수 없는 경우도 있다

					</p>

					<h4 class="mt20">증상</h4> 
					<p class="txt">
						원인에 노출된 후 대게는 30분 이내에 급성으로 나타난다.<br>
						1) 호흡기 <br>
						2) 순환기 <br>
						3) 소화기 <br>
						4) 피부

					</p>
					<h4 class="mt20">진단</h4> 
					<p class="txt">
					대부분은 전형적인 임상 소견으로 진단한다. 즉, 아나필락시스를 잘 유발하는 원인에 노출된 후 짧은 시간 내에 피부나 점막에<br>
					두드러기 혹은 혈관 부종이 발생하고, 호흡 곤란 등의 호흡기 증상이나 저혈압 등의 순환기 증상을 동반하면 <br>
					아나필락시스로 진단할 수 있다.
					</p>
					<h4 class="mt20">검사</h4> 
					<p class="txt">
						알레르겐, 특이 IgE 항체를 형성한 것으로 의심되는 알레르겐을 이용하여 피부반응검사를 시행하는 것이 진단에 도움이 된다.<br>
						그러나 아직 표준적인 시약이 없기 때문에 피부반응검사상 양성으로 나타나는 것이 아나필락시스를 일으키는<br>
						원인일 가능성이 크지만, 음성으로 나타나더라도 그 알레르겐이 진짜 원인일 가능성을 완전히 배제하지는 못한다는 한계점이 있다.<br>
						따라서 좀 더 정확한 진단을 위해서 유발검사를 조심스럽게 시행해 볼 수 있다.
					</p>
				
				</div>