<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						<div class="txt-box mb20">
							<strong class="tit01">두드러기 Urticaria</strong>
							<p class="txt">
							두드러기는 제I형 알레르기가 원인으로 발생하는 것과 비특이적 자극에 의해 발생하는 것이 있다.
							주로 상부진피(upper dermis)에 국한해서 나타나는 부종(wheal)으로 경계가 뚜렷하며 <br>
							대부분 심한 가려움증을 동반한다. 
							</p>
							<strong class="tit01">혈관부종 Angioedema</strong>
							<p class="txt">
							하부진피(dermal) 또는 피하층(subdermal)에 나타나는 부종(extravasation)이다. 피하 지방을 포함하는 <br>
							피부의 깊은 곳에서 생기며, 국소적 non-pitting edema의 형태로 나타나는 피부소견을 말한다.
							</p>
							<center><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex06.jpg" alt="" /></center>
						</div>
					</p>
			
					
					<h4 class="mt20">두드러기 및 혈관부종의 진단 및 감별진단</h4> 
					<p class="txt">
						<div class="box-txt mb20">
							<ul>
								<li>열이나 전신증상 · 징후가 있으면 정밀한 검사가 필요하다.</li>
								<li>
									선행 질환을 밝히기 위한 검사종류는 다음과 같다.<br>
									•  ANA<br>
									•  heterophile<br>
									•  STS<br>
									•  류마티스인자(rheumatoid factor)<br>
									•  한랭글로불린(cryoglobulin)<br>
									•  한랭섬유소원(cryofibrinogen)<br>
									•  한랭용혈소(cold hemolysin)<br>
									•  C4<br>
									•  C1 esterase inhibitor<br>
								</li>
								<li>유전성 혈관부종(hereditary angioedema)은 가족력이 있고 C1–INH 결핍, C1 정상, C4, C2 감소가 나타난다.</li>
							</ul>
						</div>
					</p>
				</div