	<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						약물 알레르기는 약물 부작용 중 면역 반응에 의한 것을 말하며 예측이 불가능하다. 약물 알레르기 외에 예측이 불가능한 약물의<br>
						부작용은 적은 용량에도 비정상적으로 과장된 반응을 보이는 약물 불내성(intolerance)과 약리 작용이나 용량에 무관한<br>
						특이 반응이 있다.
					</p>
					
					
					<h4 class="mt20">원인</h4> 
					<p class="txt">
						약물 알레르기는 면역 작용에 의한 반응으로, 약물의 약리 작용이나 용량과는 무관하다. 특정 약을 바르거나 전신에 투여했을 때<br>
						신체 내의 면역 체계가 그 약의 물질에 대해서 감작(sensitization; 항체를 만드는 반응)을 일으킨 후, 다시 그 물질이 체내에<br>
						들어왔을 때 급격한 알레르기성 면역 반응을 일으켜 세포나 조직을 파괴하면서 약물 알레르기가 발생한다.
					</p>

					<h4 class="mt20">증상</h4> 
					<p class="txt">
						약물 알레르기는 단지 피부의 증상뿐 아니라 신체의 어느 기관에도 나타날 수 있으므로 그 증상이 매우 다양하지만 다음과 같은 <br>
						공통적인 특징을 가지고 있다.
						<div class="box-txt mb20">
							<ul>
								<li>
								피부에 주로 발생하는 경우<br>
								-  발진형 약진 <br>
								-  두드러기형 약진 <br>
								-  고정약진<br>
								-  광과민성 약진<br> 
								-  급성 전신성 발진성 농포증성 약진<br>
								-  기타 피부 병변과 유사한 약진<br>

								</li>
								<li class="mt10">
									여러 기관에 증상을 나타내는 경우<br>
									-  다형홍반,스티븐존슨 증후군, 독성표피괴사 융해증 <br>
									-  아나필락시스 과민방응 증후군<br>
									-  혈관염<br>
									-  박탈 홍피증<br>				
							</ul>
							<center class="mt10"><img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex07.jpg" alt=""></center>
						</div>

					</p>


					<h4 class="mt20">진단</h4> 
					<p class="txt">
						약은 분자량이 작으므로 체내에서 항원으로 작용하지 못한다. 따라서 약물 자체만 조사해서는 원인 항원으로 작용하는지를<br>
						알 수 없으며, 아직까지 약물 알레르기의 원인 약제를 규명하기 위한 정확한 검사 방법은 없는 상태이다. 환자가 약을 사용한 시기와<br>
						피부 병변과의 상관 관계를 알기 위해 병력을 파악하는 것이 필수적이다. 증상이 나타난 시점으로부터 1개월 전부터 복용한 모든<br>
						약물의 목록을 알아야 하며, 각각에 대해 약물에 의해 유발될 수 있는 증상들이 나타났었는지, 약물 투여와 증상의 발생에<br>
						연관성이 있는지에 대하여 조사해야 한다.
					</p>
				
				</div>