<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						음식물 알레르기는 음식물 과민 반응(food hypersensitivity)이라고도 부른다. 음식물 때문에 생기는 면역학적 반응을 뜻하며,<br>
						음식물의 생리적 반응과는 무관한 다른 반응으로 나타난다. 음식물 알레르기 반응과 구별하여야 할 다른 반응으로는 음식물에<br>
						의한 역작용(adverse reaction to food), 음식물 아나필락시스(food anaphylaxis), 음식물 불내성(food intolerance),<br>
						식중독(food toxicity), 음식물 특이 반응(food idiosyncracy), 음식물 약리 반응(pharmacologic food reaction) 등이 있다.
					</p>
				
					
					<h4 class="mt20">원인</h4> 
					<p class="txt">
						음식물 알레르기는 음식물 속에 포함된 알레르겐에 대해서 생체가 면역기전에 의한 과민 반응을 일으키면서 시작된다. <br>
						음식물 알레르기는 과민 반응 중 어느 종류에 의해서도 나타날 수 있으며, 여러 가지 종류의 과민 반응이 복합적으로<br>
						작용할 수도 있다. 특히 제1형 반응(알레르겐 특이 IgE 항체에 의한 반응)이 중요하다.
						<img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex08.jpg" alt="" class="mt20" />
					</p>

					<h4 class="mt20">증상</h4> 
					<p class="txt">
					1) 위장관 증상<br> 
					2) 피부증상<br> 
					3) 호흡기증상<br>
					4) 아나필락시스 <br>
					5) 신경계 증상
					</p>


					<h4 class="mt20">진단</h4> 
					<p class="txt">
						음식물 알레르기의 진단을 위해서는 다음과 같은 사항을 고려해야 한다.
						<div class="txt-box mb20">
							<ul>
								<li>병력 - 지연반응 -간헐적증상 </li>
								<li>자연적인 호전과 재발</li>
								<li>음식물 일기 (diet diary)</li>
								<li>제한 식이(restriction diet)</li>
							</ul>
						</div>
					</p>
					<h4 class="mt20">검사</h4> 
					<p class="txt">
						1) 이중맹검경구 유발검사 <br> 
						2) 검사실 검사
					</p>
				
				</div>