<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						기침이란 폭발적으로 일어나는 호기(내쉬는 호흡) 반응이며, 이물질이 하기도로 흡인되는 것을 막기 위한 방어 작용으로, 기도의<br>
						과도한 분비물이나 이물질을 제거하기 위한 작용이다. 기침은 그 자체로서도 중요하지만 기침으로 인한 피로감, 두통, 목쉼,<br>
						요실금, 근골격계 동통 등과 같은 합병증을 야기하므로 그 원인 및 치료에 대한 접근에 있어 보다 주의를 요한다.
					</p>
					<h4>치료</h4> 
					<p class="txt">
						충분한 병력 청취와 이학적 검진과 함께 기본적으로 흉부 X선 촬영을 시행하고 의심되는 원인 질환의 가능성에 따라 부비동<br/>
						전산화 단층촬영(CT), 폐기능 검사 등을 시행해 볼 수 있다.
					</p>
					<h4 class="mt20">관련질병</h4> 
					<p class="txt">
						만성 기관지염, 후비루(코 뒤로 넘어가는 콧물), 천식, 위식도역류, 약물에 의한 만성 기침, 기타 기관지 확장증, <br>
						호산구성 기관지염, 폐 실질에 이상을 일으키는 모든 폐질환
						<img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex09.jpg" alt="" class="mt10" />
					</p>

				</div>