<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						호산구성 폐렴은 다양한 원인에 의해 폐에 호산구가 침윤되고, 말초혈액내의 호산구가 증가되는 염증성 질환입니다.<br>
						유기 분진이나 화학물질에 의해 발생하는 과민성 폐렴의 한 예로 생각할 수 있으나 과민성 폐렴과 다른 점은 호산구 <br>
						증가를 동반한다는 것입니다.
					</p>
					
					
					<h4 class="mt20">증상</h4> 
					<p class="txt">
						호산구성 폐렴의 증상은 일반적으로 발생 원인에 따라 차이가 있으나 일반적으로 서서히 나타나서 갑자기 마른 기침이 나고 밤에 <br>
						악화하며, 호흡곤란, 가슴에서 쌕쌕하는 소리가 나는 천명음이 들리고, 객혈이 동반되기도 합니다. 그 외에도 미열, 근육통,<br>
						입맛이 없고, 체중이 수주에서 수개월에 걸쳐 서서히 감소할 수 있습니다.
					</p>

					<h4 class="mt20">원인/병리상태</h4> 
					<p class="txt">
						호산구성 폐렴의 원인은 기생충 감염이나 약제에 의한 것 처럼 원인을 알 수 있는 것과 레플러증후군이나 만성 호산구성 폐렴,<br>
						척스트라우스 알레르기성 육아종증 같이 원인을 알 수 없는 경우가 있습니다. 염증이 발생하면 단핵구, 거대세포, 호산구 등의 <br>
						염증 세포가 폐포 내에 침윤하게 되며, 간질성 폐침윤이 가끔 동반됩니다.
						<img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/contents/ex10.jpg" alt="" class="mt20" />
					</p>


					<h4 class="mt20">진단</h4> 
					<p class="txt">
						폐렴을 진단하기 위해서는 면밀하게 병력을 검토하고, 진찰 소견, 임상적인 경과 관찰, 그리고 가슴 엑스레이 사진 촬영 및 <br />
						피검사를 하여야 합니다. 호산구성 폐렴은 원인을 알 수 없는 경우도 있지만 우선적으로 원인을 찾기 위한 검사가 필요하며, <br />
						기관지내시경검사 및 개흉폐생검을 이용한 조직 검사, 그리고 폐 기능 검사가 필요합니다.
					</p>
					
				</div>