<div class="txt-contents">
					<h4>정의</h4> 
					<p class="txt">
						기관지에서 멀리 떨어진 폐의 말초까지 도달할 수 있는 미세한 입자인 유기분진(동식물에서 유래하는 미세 입자로<br> 
						곰팡이나 세균 등의 미생물에 의해 오염됨)에 반복적으로 노출되고, 분진에 포함되어 있는 알레르겐에 대한 <br>
						과민 반응(면역 반응)이 발생하여 폐포와 말단 기관지를 포함한 폐의 실질 부분에 급, 만성 염증이 <br>
						생기는 질환을 과민성 폐장염이라 한다.
					</p>
				
					
					<h4 class="mt20">원인</h4> 
					<p class="txt">
						원인으로 밝혀진 물질은 다양하고 농부 폐와 같이 직업성으로 발생하지만 직업과 무관하게 원인 물질이 가정이나 사무실에서<br>
						일정 기간 동안 지속적으로 존재하는 경우에 발생하기도 한다. 원인 물질은 크기 5µm 이하의 분말 (에어로졸) 형태로 폐포에<br>
						도달하여 축적되며, 이 속에 포함된 수용성 알레르겐이 흡수되어 면역 반응을 일으킨다. 관여되는 면역 기전은 정확히 알려져<br>
						있지는 않으나 체액성, 세포성 면역이 관여하며, 제3형, 제4형 과민 반응이 모두 나타나는 것으로 알려져 있다.
					</p>

					
					<div class="wrap-table mt20">
						<table class="tbl05">
						<colgroup>
							<col width="16%">
							<col width="34%" />
							<col width="25%" />
							<col width="25%" />
						</colgroup>
						<thead>
						<tr>
							<th></th>
							<th>원인 항원</th>
							<th>항원의 출처</th>
							<th>질병</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<th rowspan="8" class="bel">세균<br>(Bacteria)</th>
							<th>호온균(Thermophilic actinomycetes)</th>
							<td>-</td>
							<td>-</td>
						</tr>
						<tr>
							<th>Mycropolyspora faeni</th>
							<td>곰팡이 핀 건초, 밀집,곡물</td>
							<td>농부 폐</td>
						</tr>
						<tr>
							<th>Thermoactinomyces vulgaris*</th>
							<td>곰팡이 핀 건초,퇴비</td>
							<td>버섯 재배자 페</td>
						</tr>
						<tr>
							<th>Thermoactinomyces saccharii</th>
							<td>곰팡이 핀 사탕수수대</td>
							<td>사탕수수대 작업자 병</td>
						</tr>
						<tr>
							<th>Thermoactinomyces candidus</th>
							<td>오염된 냉난방기</td>
							<td>공기조절기 폐</td>
						</tr>
						<tr>
							<th>Pseudomonas fluorescens</th>
							<td>금속연무</td>
							<td>기계 작업자 폐</td>
						</tr>
						<tr>
							<th>
								Bacillus cereus, Kbebsiella oxytoca,<br>
								Cephalosporium acremonium
							</th>
							<td>가습기</td>
							<td>가습기 폐</td>
						</tr>
						<tr>
							<th>Bacillus subtilis</th>
							<td>오염된 집안먼지</td>
							<td>-</td>
						</tr>
						<tr>
							<th rowspan="8" class="bel">진균<br>(Fungi)</th>
							<th>Aspergillus clavatus</th>
							<td>곰팡이 핀 보리낱알</td>
							<td>맥아 작업자 폐</td>
						</tr>
						<tr>
							<th>Cryptostroma corticale</th>
							<td>곰팡이 핀 단풍나무 껍집</td>
							<td>단풍나무껍질 작업자 폐</td>
						</tr>
						<tr>
							<th>Altermaria species</th>
							<td>곰팡이 핀 대패밥</td>
							<td>목재펄프 작업자 폐</td>
						</tr>
						<tr>
							<th>Pullularia species</th>
							<td>곰팡이 핀 톱밥</td>
							<td>미삼나무 작업자 병</td>
						</tr>
						<tr>
							<th>Tricosporum cutaneum*</th>
							<td>오래된 일본집</td>
							<td>여름형 관민성폐장염</td>
						</tr>
						<tr>
							<th>Penicillium species</th>
							<td>곰팡이 핀 코르크밥</td>
							<td>코르크마개 작업자 병</td>
						</tr>
						<tr>
							<th>Penicillium expansum*</th>
							<td>가정환경</td>
							<td>-</td>
						</tr>
						<tr>
							<th>Penicillium napiforme*</th>
							<td>가정환경</td>
							<td>-</td>
						</tr>
						<tr>
							<th rowspan="3" class="bel">동물성단백</th>
							<th>조류단백</th>
							<td>비둘기,앵무새,닭의 배설물</td>
							<td>조류사육자 폐</td>
						</tr>
						<tr>
							<th>소,돼지 단백</th>
							<td>소,돼지의 뇌하수체 추출물</td>
							<td>뇌하수체호르몬 흡입자 폐</td>
						</tr>
						<tr>
							<th>설치류 소변단백</th>
							<td>설치류 소변</td>
							<td>실헐실 연구자 폐</td>
						</tr>
						<tr>
							<th class="bel">곤충</th>
							<th>밀바구미(Sitophilus granarius)</th>
							<td>바구미에 오염된 밀가루</td>
							<td>밀바구미 병</td>
						</tr>
						<tr>
							<th rowspan="4" class="bel">화학물질<br>(Chemicals)</th>
							<th>Toluene diisocyanate(TDI)*</th>
							<td>우레탄,페인트</td>
							<td>페인트 작업자 질환</td>
						</tr>
						<tr>
							<th>Diphenylmethane diisocyanate(MDI)</th>
							<td>우레탄,페인트,레진,접착제</td>
							<td>욕조 작업자 폐</td>
						</tr>
						<tr>
							<th>Phthalic anhydride*</th>
							<td>Epoxy resin</td>
							<td>에폭시레진 작업자 폐</td>
						</tr>
						<tr>
							<th>Trimellitic anhydride</th>
							<td>플라스틱 공장</td>
							<td>플라스틱 작업자 폐</td>
						</tr>
						<tr>
							<th class="bel">기타</th>
							<th>느타리버섯(Pletuotus ostreatus)*</th>
							<td>느타리버섯 포자</td>
							<td>느타리버섯 재배자 폐</td>
						</tr>
						</tbody>
						</table>
					</div>
  

					<h4 class="mt20">증상</h4> 
					<p class="txt">
						<div class="box-txt mb20">
							<strong >1) 급성형</strong>
							<p class="txt">
								원인 물질에 노출된 후 4~8시간 내에 마른 기침과 호흡 곤란, 고열, 오한, 근육통, 무력감 등 독감과 유사한 증상이 나타난다.<br>
								이러한 증상은 8~12시간 동안 지속되다가 자연히 소실되며, 반복 노출이 없는 경우에는 아주 빠른 속도로 회복된다. 재차 원인<br>
								물질에 노출되면 증상이 재발하고, 계속적으로 노출되면 체중 감소와 식욕 부진도 동반된다. 그러나 노출이 없는 동안에는<br>
								아무 증상이 나타나지 않는다.
							</p>
							<strong >2) 만성형</strong>
							<p class="txt">
								비교적 소량의 원인 물질에 장기간 반복 노출되는 경우에 올 수 있으며 폐에 돌이킬 수 없는 조직 손상이 나타난다.<br>
								이로 인하여 점진적인 호흡 곤란, 기침, 근육통, 체중 감소 등의 증상을 흔하게 관찰할 수 있다. 그러나 발열은 없는 경우가 많다.
							</p>
						</div>
					</p>
					
					<h4 class="mt20">진단</h4>
					<p class="txt">
						병력을 청취하는 것이 진단에 있어 가장 중요한 절차이다. 폐의 말초까지 도달할 만큼 작은 입자(0.5~5µm)인 원인 물질에 노출된 <br>
						과거력과 노출 뒤 일정 시간이 흐른 후 나타나는 특징적인 증상인 감기 유사 증상, 기침, 호흡 곤란이 있으면 과민성 폐장염으로<br>
						의심할 수 있다. 진단에 도움이 되는 검사는 혈액 검사(침강 항체 확인), 폐기능 검사, <br>
						단순 흉부 방사선 사진(혹은 흉부 고해상 컴퓨터 단층촬영), 기관지 내시경을 통해 폐포를 세척한 액체를 얻어 분석하는 검사, <br>
						폐 조직 검사 등이다. 보통 전형적인 병력, 신체 검사, 폐기능, 방사선 소견이 있으면서 잘 알려진 알레르겐에 대한 노출 과거력이 있고,<br>
						원인 알레르겐에 대한 침강 항체를 증명하여 진단한다.
					</p>	

					<h4 class="mt20">검사</h4> 
					<p class="txt">
						<div class="box-txt mb20">
							<strong >1) 혈액 검사</strong>
							<p class="txt">
								원인 알레르겐에 대한 IgG 침강 항체를 확인할 수 있다. 이를 통해 원인 알레르겐이 우리 몸에서 면역 반응을 일으켜 과민성<br>
								폐장염을 유발했음을 간접적으로 확인할 수 있다. 그러나 우리나라에서는 아직 다양한 원인 알레르겐에 대해 혈청 침강 항체를<br>
								증명하는 할 수 있는 보편적인 검사 키트가 개발되지 못한 상태이다.
							</p>
							<strong >2) 방사선 검사</strong>
							<p class="txt">
								급성기에는 정상 소견을 보이는 경우도 있다. 흔히 미세한 망상-결절성 음영과 거친 기관지 혈관 음영을 관찰할 수 있다.<br>
								오랫동안 진행되면 흉부 고해상 컴퓨터 단층촬영 사진(Chest HRCT) 상에서 섬유화된 벌집 모양의 폐 소견을 보인다.
							</p>
							<strong >3) 폐기능 검사</strong>
							<p class="txt">
								제한성 폐기능 변화와 저산소증을 보인다.
							</p>
							<strong >4) 기관지 내시경 검사</strong>
							<p class="txt">
								폐포 세척액을 모아 검사하면 정상인에 비해, 억제 T-림프구 분획이 증가하여 CD4+/CD8+ 비가 감소해 있다.
							</p>
						</div>
					</p>
				
				</div>