<div class="wrap-contents">
  <p class="h2 ctxt-005ca8">
    관절염 종합검진이란?
  </p>
  <p class="mt20">
    <img src="/theme/<?=$this->config->item('theme')?>/<?=$_language?><?=$_folder?>/images/about/arthritis.jpg" />
  </p>
  
  <p class="mt20">
    류마티스 관절염, 퇴행성 관절염 등 모든 류마티스 질환의 종합적인 검사로써 특별한 예약없이 하루에 검진 하실 수 있는 <br />프로그램입니다. 
  </p>
  
  <p class="mt20">
    결과에 따라 진료파트로 의뢰하여 계속적인 진료가 가능합니다.
  </p>
  
  <p class="mt50 box pd30">
    <strong>기타 궁금하신 점은 <span class="ctxt-e45900">전화 02-474-5450</span> 로 문의 부탁드립니다.</strong>
  </p>
</div>