/*Å¬¸®´Ð ÄÁÅÙÃ÷ css*/
#container>.contents>.txt-contents{font-size:24px;line-height:1.6;height:100%;word-break:keep-all; word-wrap:break-word;}
#container>.contents>.txt-contents img{width:100% !important}
#container>.contents>.txt-contents br{display:none}
#container>.contents>.txt-contents h4{font-size:30px;color:#005ca8;font-weight:bold;}
#container>.contents>.txt-contents h4.inline{display:inline-block}
#container>.contents>.txt-contents h5{font-size:26px;color:#4d8ed3;font-weight:bold;background:url("../../images/bg_contents_bul01.png") no-repeat left center;padding-left:18px;}
#container>.contents>.txt-contents .txt{margin:10px 0 10px 0;position:relative;display:block}
/*#container>.contents>.txt-contents .txt .box-photo-right{position:absolute;top:0;right:0}*/
#container>.contents>.txt-contents .txt .box-photo-right{margin:20px 0;display:block}
#container>.contents>.txt-contents .box-txt{position:relative;border:2px solid #ddd;padding:15px;}
#container>.contents>.txt-contents .box-txt .box-photo-right{position:absolute;top:0;right:0}
#container>.contents>.txt-contents .box-txt ul li{background:url("../../images/bg_contents_bul02.png") no-repeat left 7px;padding-left:12px;}
#container>.contents>.txt-contents ul li{background:url("../../images/bg_contents_bul02.png") no-repeat left 7px;padding-left:12px;}

#container>.contents>.txt-contents .txt-box{position:relative; background-color:#f3f4f8;border:2px solid #ddd;padding:15px}
#container>.contents>.txt-contents .txt-box_01{position:relative; background-color:#f3f4f8;margin:10px}
#container>.contents>.txt-contents .txt-box_01 .txt_02{font-size:24px;display:block;top:10px;right:50px}
#container>.contents>.txt-contents .txt-box strong{font-size:24px;display:block}
#container>.contents>.txt-contents .txt-box .txt_01{font-size:26px;display:block}
#container>.contents>.txt-contents .txt-box .txt_02{font-size:24px;display:block}
#container>.contents>.txt-contents .txt-box .txt_01 span{font-size:26px;color:#5faad1}

/*#container>.contents>.txt-contents .txt-box .box-photo-right01{position:absolute;top:85px;right:30px}
#container>.contents>.txt-contents .txt-box .box-photo-right02{position:absolute;top:60px;right:30px}
#container>.contents>.txt-contents .txt-box .box-photo-left{position:absolute;top:0;left:0}
*/
#container>.contents>.txt-contents .txt-box .box-photo-right01{margin:20px 0;display:block}
#container>.contents>.txt-contents .txt-box .box-photo-right02{margin:20px 0;display:block}
#container>.contents>.txt-contents .txt-box .box-photo-left{margin:20px 0;display:block}

#container>.contents>.txt-contents ul.ex01{color:#666;}
#container>.contents>.txt-contents a{color:#333}

#container>.contents>.txt-contents .wrap-table{border-top:1px solid #000}
#container>.contents>.txt-contents table.tbl01 {width:100%;border-collapse: collapse;}
#container>.contents>.txt-contents table.tbl02 {width:100%;border-collapse: collapse;}
#container>.contents>.txt-contents table.tbl03 {width:100%;border-collapse: collapse;}
#container>.contents>.txt-contents table.tbl04 {width:100%;border-collapse: collapse;}
#container>.contents>.txt-contents table.tbl05 {width:100%;border-collapse: collapse;}

#container>.contents>.txt-contents table.tbl01 thead tr th{background-color:#edf9ff;height:50px;border-bottom:1px solid #dedede;font-weight:bold;}
#container>.contents>.txt-contents table.tbl01 tbody tr th{background-color:#f6f6f6;height:50px;border-bottom:1px solid #dedede;line-height:inherit}
#container>.contents>.txt-contents table.tbl01 tbody tr td{text-align:center;border-bottom:1px solid #dedede;line-height:inherit}
table.tbl01 thead tr th:nth-child(1n+2) {border-left:1px solid #dedede;}
table.tbl01 tbody tr td:nth-child(1n) {border-left:1px solid #dedede;}

#container>.contents>.txt-contents table.tbl02 thead tr th{background-color:#f6f6f6;height:55px;border-bottom:1px solid #dedede;font-weight:bold;}
#container>.contents>.txt-contents table.tbl02 tbody tr td{height:45px;text-align:center;border-bottom:1px solid #dedede;}
table.tbl02 thead tr th:nth-child(1n+2) {border-left:1px solid #dedede;}
table.tbl02 tbody tr td:nth-child(1n+2) {border-left:1px solid #dedede;}

#container>.contents>.txt-contents table.tbl03 thead tr th{background-color:#f6f6f6;height:50px;border-bottom:1px solid #dedede;font-weight:bold;}
#container>.contents>.txt-contents table.tbl03 tbody tr td{height:50px;text-align:center;border-bottom:1px solid #dedede;}
table.tbl03 thead tr th:nth-child(1n+2) {border-left:1px solid #dedede;}
table.tbl03 tbody tr td:nth-child(1n+2) {border-left:1px solid #dedede;}

#container>.contents>.txt-contents table.tbl04 thead tr th{background-color:#f6f6f6;height:50px;border-bottom:1px solid #dedede;font-weight:bold;}
#container>.contents>.txt-contents table.tbl04 tbody tr td{height:50px;text-align:center;border-bottom:1px solid #dedede;}
table.tbl04{padding-right:200px !important}
table.tbl04 th,table.tbl04 td{border-left:1px solid #dedede;}
table.tbl04 thead tr th:nth-child(1) {border-left:none;}
table.tbl04 tbody tr:nth-child(1) td:nth-child(1) {border-left:none;}

#container>.contents>.txt-contents table.tbl05 thead tr th{background-color:#f6f6f6;height:50px;border-bottom:1px solid #dedede;font-weight:bold;}
#container>.contents>.txt-contents table.tbl05 tbody tr th{border-bottom:1px solid #dedede;}
#container>.contents>.txt-contents table.tbl05 tbody tr td{height:50px;text-align:center;border-bottom:1px solid #dedede;color:#999}
table.tbl05{padding-right:200px !important;}
table.tbl05 th, table.tbl05 td{border-left:1px solid #dedede;}
table.tbl05 thead tr th:nth-child(1) {border-left:none;}
.bel{border-left:none !important;}
