.table{width:100%;border-top:1px solid #000;border-collapse: collapse;}
.table th{background-color:#f6f6f6;font-size:14px;border-bottom:1px solid #dedede;padding:12px 0;color:#333;font-weight:bold;}
.table th:nth-child(2n) {border-left:1px solid #dedede;}
.table td{font-size:13px;line-height:18px;border-bottom:1px solid #dedede;height:59px;vertical-align:top;padding:10px 0 0 20px;background-color:#fff;}
.table td:nth-child(2n) {border-left:1px solid #dedede;}

/*Address*/
	.address>table{width:100%; border-spacing:0;border-top:2px solid #e6e6e6;border-bottom:1px solid #e6e6e6}
	.address>table th,
	.address>table td{padding:15px 20px; border-bottom:1px solid #e6e6e6; /*font-weight:200;*/ font-size:16px; line-height:1.2; color:#333; text-align:left; border-collapse:collapse; empty-cells:show; box-sizing: border-box;}
	.address>table tr th{font-weight:500 !important;}
	.address>table tr td{}

	.address.p13>table td{padding:13px 0;}

	.address>table>tbody>tr>.title{font-weight:400; color:#333; text-align:left}
	.address>table>tbody>tr>.title>a{color:#333; cursor:pointer; display:inline-block;}
	.address>table>tbody>tr>.title>a:hover{color:#00a2e6;}

	.address>table .noPost>td{height:200px; vertical-align: middle;}
/* Board List */
	.board_list{width:100%; border-top:2px solid #d5d5d5; overflow:hidden;}
	.board_list>table{width:100%; border-spacing:0;}

	.board_list>table th,
	.board_list>table td{padding:15px 0; border-bottom:1px solid #d5d5d5; /*font-weight:200;*/ font-size:13px; line-height:1.2; color:#333; text-align:center; border-collapse:collapse; empty-cells:show; box-sizing: border-box;}
	.board_list>table>thead>tr>th{border-bottom-color:#d5d5d5; font-weight:400;}
	.board_list>table>tbody>tr>td{}

	.board_list.p13>table td{padding:13px 0;}

	.board_list>table>tbody>tr>.title{font-weight:400; color:#333; text-align:left}
	.board_list>table>tbody>tr>.title>a{color:#333; cursor:pointer; display:inline-block;}
	.board_list>table>tbody>tr>.title>a:hover{color:#00a2e6;}

	.board_list>table .noPost>td{height:200px; vertical-align: middle;}

/* Board View */
	.board_view{width:100%; overflow:hidden;}
	.board_view>table{width:100%; border-spacing:0;}
	.board_view>table th,
	.board_view>table td{font-size:13px; color:#333; text-align:left; border-collapse:collapse; empty-cells:show; box-sizing: border-box;}
	.board_view>table>thead>tr>th{padding:15px 0;text-align:center;font-weight:700; font-size:16px; line-height:22px; color:#333;border-top:2px solid #d5d5d5;border-bottom:1px solid #d5d5d5}
	.board_view>table>thead>tr>td{padding:15px 0 15px 0; border-bottom:1px solid #c5c5c5;}
	.board_view>table>thead>tr>td>label{padding:13px 18px;background-color:#f8f8f8}
	.board_view>table>thead>tr>td>span{display:inline-block;padding:0 5px;}

	.board_view>table>thead>tr>td>p{padding:0 15px 0 16px; background:url("../../images/line_view.gif") no-repeat left 2px; font-weight:200; line-height:1.3; display:inline-block;}
	.board_view>table>thead>tr>td>p:first-child{background:none;}
	.board_view>table>thead>tr>td a.file{background:url(../../images/board/bg_file.png) no-repeat left center;padding-left:15px;color:#333;}
		
	.board_view>table>thead>tr>td>p.right{padding:0 30px 0 0; background:none; float:right;}
	.board_view>table>thead>tr>td>p .file{padding-left:18px; background:url("../../images/icon_file.gif") no-repeat left top; color:#333; display:inline-block;}
	.board_view>table>thead>tr>td>p .file:hover{color:#00a2e6;}

	.board_view>table>tbody>tr>td.cont{height:250px; padding:50px 20px 90px; border-bottom:1px solid #d0d2d6; font-size:13px; line-height:20px; color:#333; word-break:keep-all; word-wrap:break-word;}

/* Board Write */
	.board_write{width:100%; border-top:1px solid #464646;  overflow:hidden;}
	.board_write>table{width:100%; border-spacing:0;}
	.board_write>table th,
	.board_write>table td{padding:12px 0 12px 0; border-bottom:1px solid #e9e9e9; color:#333; text-align:left; vertical-align: top; border-collapse:collapse; empty-cells:show; box-sizing: border-box;}
	.board_write>table>tbody>tr>th{padding:10px 0 0 25px; font-size:13px; line-height:1; font-weight:normal;background:url("../../images/board/bg_bul.gif") no-repeat 10px 15px;}

	.board_write>table input[type=radio],
	.board_write>table input[type=checkbox]{width:13px;height:17px;margin:0 0 2px 0;padding:0;vertical-align:middle;overflow:hidden;}
	.board_write>table input[type=text],
	.board_write>table input[type=password],
	.board_write>table input[type=file]{height:23px; padding:0 10px; background-color:#f8f8f8; border:1px solid #ddd; line-height:35px; color:#333; vertical-align:middle; display:inline-block; box-sizing: border-box;}

	.board_write>table select{height:30px; background-color:#fff; border:1px solid #cdcdcd; font-size:14px; line-height:30px; color:#1d1d1d; vertical-align:middle; display:inline-block;}
	.board_write>table textarea{width:100%; height:250px; padding:20px; background-color:#f8f8f8; border:1px solid #ddd; font-size:15px; line-height:24px; color:#333; box-sizing: border-box;}

	.board_write>table .fileBox{width:100%; position:relative; overflow:hidden;}
	.board_write>table .fileBox>.file_wrap{width:95px; height:37px; background:url("/images/common/btn_file.gif") no-repeat left top; border:none; vertical-align:middle; cursor:pointer; overflow:hidden; display:inline-block;}
	.board_write>table .fileBox>.file_wrap>input[type=file]{width:95px; height:37px; opacity:0; cursor:pointer;}

	.board_write>table .checkBox{font-size:0; line-height:0;}
	.board_write>table .checkBox>.check{padding-right:10px; font-size:14px; line-height:24px; letter-spacing:-1px; display:inline-block; vertical-align: middle;}
	.board_write>table .checkBox.mw97>.check{min-width:97px; padding-right:0px; display:inline-block; vertical-align: middle; white-space: nowrap;}
	.board_write>table .checkBox input[type=radio],
	.board_write>table .checkBox input[type=checkbox]{margin-right:5px;}

	.board_write>table .type_c{min-height:30px; margin:0 5px; font-size:14px; line-height:30px; display:inline-block; vertical-align:middle;}
	.board_write>table .type_ps{min-height:30px; margin-left:15px; font-size:13px; line-height:30px; color: #1c5ea9; display:inline-block; vertical-align:middle;}
	.board_write>table .type_ps.red{margin:0; color: #de0000;}
	.board_write>table .point{margin-left:-12px; padding-right:3px; color: #1c5ea9;}

/* pageing style */
	.paging_all{margin:0 auto;text-align:center;clear:both;position:relative;}

	.paging_all .next{background-image:url('../../images/btn_next.gif');}
	.paging_all .next2{margin-left:4px; background-image:url('../../images/btn_next2.gif');}
	.paging_all .prev{background-image:url('../../images/btn_prev.gif');}
	.paging_all .prev2{margin-right:4px; background-image:url('../../images/btn_prev2.gif');}
	.paging_all .next,
	.paging_all .prev{width:31px;}
	.paging_all .next2,
	.paging_all .prev2{width:31px;}
	.paging_all .pBtn{height:40px; background-position:left top; background-repeat:no-repeat; display:inline-block; vertical-align:top}
	.paging_all .pBtn:hover{background-position:left -41px;}

	.paging_all>.paging{margin:0 auto; text-align:center}
	.paging_all>.paging>.num{padding:0 8px; display:inline-block; vertical-align:top}

	.paging_all>.paging>.num>strong,
	.paging_all>.paging>.num>a{width:31px; height:31px; margin:0 2px; padding-top:8px;font-size:13px; line-height:1; color:#333; text-align:center; display:inline-block; vertical-align:top; box-sizing: border-box;}

	.paging_all>.paging>.num>strong,
	.paging_all>.paging>.num>a:hover{ color:#488ed3;}

/* search style */
	.search_top_board{width:100%; box-sizing: border-box; overflow:hidden;}
	.search_top_board .total{padding:14px 16px; ; font-weight:700; font-size:13px; line-height:1; color:#333; display:inline-block;}
	.search_top_board .total>span{color:#488ed3;}
	.search_top_board .right{float:right;margin-top:5px}
	.search_top_board input[type=text]{width:208px; height:23px; margin:0 5px; padding:0 15px; border:1px solid #ccc; font-weight:200; font-size:13px; color:#333; display:inline-block; vertical-align: top; box-sizing: border-box;}
	.search_top_board input[type=image]{border:0; display:inline-block; vertical-align: top; cursor: pointer;}
	.search_top_board .btn-search{width:40px;height:23px;background-color:#666;color:#fff;border:0;vertical-align:middle;font-size:12px;}

/* PageNavigation Style */
	.pageNavigation{width:100%; border-top:1px solid #c5c5c5; border-bottom:1px solid #c5c5c5;overflow:hidden;}

	.pageNavigation>.prev{border-bottom:1px solid #e7e7e7;}

	.pageNavigation>dl{width:100%; font-size:13px; line-height:1; display:table;}
	.pageNavigation>dl>dt{width:220px; padding:20px 0 20px 30px; display:table-cell; box-sizing: border-box;}
	.pageNavigation>dl>dt>span{ color:#333; display:inline-block;width:50px;}
	.pageNavigation>dl.prev>dt>span{background:url("../../images/pgN_prev.gif") no-repeat right center;}
	.pageNavigation>dl.next>dt>span{background:url("../../images/pgN_next.gif") no-repeat right center;}

	.pageNavigation>dl>dd{position:relative; padding:20px 0; display:table-cell;}
	.pageNavigation>dl>dd>a{color: #333; text-decoration: none; display:inline-block;}
	.pageNavigation>dl>dd .date{position:absolute; top:12px; right:30px;}
